@font-face {
  font-family: 'b-icons';
  src: url('../font/b-icons.eot?7685431');
  src: url('../font/b-icons.eot?7685431#iefix') format('embedded-opentype'),
       url('../font/b-icons.woff2?7685431') format('woff2'),
       url('../font/b-icons.woff?7685431') format('woff'),
       url('../font/b-icons.ttf?7685431') format('truetype'),
       url('../font/b-icons.svg?7685431#b-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'b-icons';
    src: url('../font/b-icons.svg?7685431#b-icons') format('svg');
  }
}
*/
 
 [class^="bicon-"]:before, [class*=" bicon-"]:before {
  font-family: "b-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.bicon-mail:before { content: '\e800'; } /* '' */
.bicon-angle-left:before { content: '\e801'; } /* '' */
.bicon-angle-right:before { content: '\e802'; } /* '' */
.bicon-angle-up:before { content: '\e803'; } /* '' */
.bicon-angle-down:before { content: '\e804'; } /* '' */
.bicon-right-1:before { content: '\e805'; } /* '' */
.bicon-menu:before { content: '\e806'; } /* '' */
.bicon-chart-line:before { content: '\e807'; } /* '' */
.bicon-twitter:before { content: '\e808'; } /* '' */
.bicon-facebook:before { content: '\e809'; } /* '' */
.bicon-linkedin:before { content: '\e80a'; } /* '' */
.bicon-user:before { content: '\e80b'; } /* '' */
.bicon-down:before { content: '\e80c'; } /* '' */
.bicon-left:before { content: '\e80d'; } /* '' */
.bicon-right:before { content: '\e80e'; } /* '' */
.bicon-up:before { content: '\e80f'; } /* '' */
.bicon-search:before { content: '\e810'; } /* '' */
.bicon-key:before { content: '\e811'; } /* '' */
.bicon-camera:before { content: '\e812'; } /* '' */
.bicon-cancel:before { content: '\e813'; } /* '' */
.bicon-home:before { content: '\e814'; } /* '' */
.bicon-clock-alt:before { content: '\e815'; } /* '' */
.bicon-asterisk:before { content: '\e816'; } /* '' */
.bicon-link:before { content: '\e817'; } /* '' */
.bicon-quote:before { content: '\e818'; } /* '' */
.bicon-down-open-big:before { content: '\e819'; } /* '' */
.bicon-up-open-big:before { content: '\e81a'; } /* '' */
.bicon-print:before { content: '\e81c'; } /* '' */