/*
LOGO GENERATOR
Generates a logo width correct dimensions

Example: 

$logo-width: width in rem;
$logo-color: Blue or white;
$logo-align: align the background image in center or to the left;
$logo-block: make logo 100% width (for centered logo);

.my-logo {
	@include logo($logo-width: 10rem, $logo-color: [blue/white], $logo-align: [left/center], $logo-block: [true/false]);
}
*/

$logoRatio: 310/1500;

@mixin logo-width($logo-width: 10rem, $logo-color: blue, $logo-align: center, $logo-block: false) {
	@extend .logo-berlingske;
	@if $logo-block == true {
		width: 100%;	
	} @else {
		width: $logo-width;	
	}
	height: ($logo-width * $logoRatio);
	background-size: $logo-width;
	@if $logo-color == white {
	background-position: $logo-align bottom;
	} @else {
	background-position: $logo-align top;
	}
}