$col-alt: #4183a7;

$col-bus-alt: #e64d1a;
$col-blue-1: #007cbb;	// light
$col-blue-2: #191b35;	// dark
$col-blue-2: #160c4b;	// dark
$col-blue-3: #e2ecf1;	// fragile blue


$col-sunyellow: #f9b256;
$col-cappucino: #f1eee9;


// Business.dk
$col-business: #fadcd2;
$col-business-dark: #a1094b;
$col-business-light: #fadcd2;

$col-beige: #edebe1;
$col-beige: #ededed;
$col-coffee: #e7dfd2;
$col-gray: #949aa8;



$col-facebook:			#4c66a4;
$col-twitter:			#54a9f0;
$col-linkedin:			#1f89be;
$col-instagram: 		#125489;

$background-color: rgba(248,248,248,1);
$border-color: rgba(0,0,0,.1);

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #eee !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #666 !default;
$brand-success:             #c5de9e !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;

$col-live: 	#ed0b0b;
$col-breaking: #ffe400;
$col-1-width: 16rem;

$body-link-color:           $col-blue-1;

// Badges on Blogs, kronikken etc.
$badge-1: 3.5rem;
$badge-2: 4rem;
$badge-1-sm: 3rem;
$badge-2-sm: 3rem;


$contentWidthLG: 41.250rem;
$contentWidthTablet: 52rem; /*ipad hack - see ipadhack.scss */