.antiblocker {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 3rem;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: opacity .35s ease;
	@extend .flex-center;
	.container {
		background-color: transparent;
	}
	
	.small {
		font-size: .75rem;
	}
}
.antiblocker-solid {
	background: $background-color;
}

.antiblocker-content {
	transform: translateY(-2rem);
	transition: all .35s cubic-bezier(.33,.66,.66,1);	
}

.antiblocker-modal {
	background: fade-out($background-color, .1);
	.antiblocker-content {
		padding: 1rem;
		box-shadow: 0 0 1rem rgba(0,0,0,.25);
		background: $background-color;
	}
}

.show-antiblocker {
	overflow: hidden;
	opacity: 1;
	.antiblocker {
		z-index: 101;
		opacity: 1;
		visibility: visible;
	}
	.antiblocker-content {
		transform: translateY(0);
	}
}

.close-antiblocker {
	@extend .font-s2;
	font-weight: 500;
	line-height: 2rem;
	color: $col-blue-1;
	text-decoration: none!important;	
	&:before {
		content: 'LUK ';
		font-size: .9rem;
		color: #999;
	}
	i {
		font-size: 1rem;
	}
}
.modal-header {
	margin: -1rem -1rem 0 -1rem;
	font-weight: 900;
	
	@extend .font-s1;
	font-size: 2.5rem;
}

.antiblocker-lg {
	h2 {
		@extend .font-s1;
		font-size: 5rem;
		margin-bottom: 1rem;
	}
	p {
		color: #666;
		font-size: 1.2rem;
	}	
}


@include media-breakpoint-down(sm) {
	.antiblocker-lg {
		h2 {
			font-size: 2rem;
		}
		p {
			font-size: 1rem;
		}
		
	}
}
