@keyframes slideOut {
  0% {
    opacity: 1;
    transform:translate3d(0,0,0)
  }
  100% {
    transform:translate3d(-10%,0,0);
    opacity:0
  }
}
@keyframes slideUp {
  0% {
   max-height: 100px;
    
  }
  100% {
    max-height: 0;
  }
}

.animate-goodbye {
  animation: slideOut .3s ;
  animation-fill-mode:forwards;
  // animation-delay:200ms;
  animation-timing-function: ease;
}
.animate-goodbye-2 {
  animation: slideUp .3s ;
  animation-fill-mode:forwards;
  animation-delay:.3s;
  animation-timing-function: ease;
}