@keyframes slideOut {
	0% {
		opacity: 1;
		transform:translate3d(0,0,0)
	}
	100% {
		transform:translate3d(-10%,0,0);
		opacity:0
	}
}

@keyframes slideUp {
	0% {
		max-height: 100px;
	}
	100% {
		max-height: 0;
	}
}


.animate-goodbye {
	animation: slideOut .2s ;
	animation-fill-mode:forwards;
	// animation-delay:200ms;
	animation-timing-function: ease;
}

.animate-goodbye-2 {
	animation: slideUp .2s;
	animation-fill-mode:forwards;
	animation-delay:.2s;
	animation-timing-function: ease;
}


@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.animate-blink {
	animation: blink .2s infinite;
	animation-fill-mode:forwards;
	animation-timing-function: ease;
}



@keyframes live {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	25% {
		transform: scale(0);
		opacity: 0;
	}
	90% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(.0);
		opacity: 0;
	}
}

.animate-live {
	animation: live 1s infinite;
	animation-fill-mode:forwards;
	animation-timing-function: ease;
}