.container { position: relative; }
.col-article-primary {
	width: calc(100% - 400px);
}
.twitter-tweet {
	margin-left: auto;
	margin-right: auto;
}
.article-sidebar {
	width: 380px;
}
.article-title {
	@extend .font-header;
	margin-bottom: $spacer ;
	font-size: 2.6rem;
}

.article-video,
.article-image {
	margin-bottom: $spacer;
	position: relative;
	margin-right: -($col-1-width / 2);
}

.inline-banner {
	width: 300px; 
	height: 250px; 
	margin-top: 0;
	margin-bottom: $spacer;
	margin-right: -($col-1-width / 2);
	margin-left: $spacer; 
	float: right; 
	clear:right;
	background-color: #eee;
}

.border-banner {
	border-bottom : $border-width solid $border-color; 
	margin-bottom: $spacer;
}

/*.first-letter {
	font-size: 5.7rem;
	@extend .font-g2;
	float:left;
	display: inline-block;
	margin: -.2rem .4rem -0.7rem 0;

}*/

.article-partner {
	border-top: $border-width solid $border-color;
	border-bottom: $border-width solid $border-color;
	padding: .3rem 0;
	font-size: .7rem;
	@extend .font-s2;

	margin-bottom: $spacer;
	a {
		color: #999;
		&:hover {
			color: #666;
		}
	}
	span {
		display: inline-block;
		
		line-height: $spacer;	
	}
	img {
		display: inline-block;
		vertical-align: middle;

		margin-left: .6rem;
	}
}

.star-txt {
	font-size: .8rem;
	@extend .font-g1;
	vertical-align: middle;
}
[class*="article-rating"] {
	font-size: 1.3rem;
	color: #bbb;
	margin-top: -1rem;
}
.article-rating-1 {
	i:nth-child(1) {
		color: $col-blue-1;
	}
}
.article-rating-2 {
	i:nth-child(-n+2) {
		color: $col-blue-1;
	}
}
.article-rating-3 {
	i:nth-child(-n+3) {
		color: $col-blue-1;
	}
}
.article-rating-4 {
	i:nth-child(-n+4) {
		color: $col-blue-1;
	}
}
.article-rating-5 {
	i:nth-child(-n+5) {
		color: $col-blue-1;
	}
}
.article-rating-6 {
	i {
		color: $col-blue-1;
	}
}
.large-share-buttons {
	
	@extend .ipadHack;
	
	
	padding-top: 1rem;
	.btn-facebook,
	.btn-twitter {
		width: calc(40% - .3rem);
		float: left;
		margin-right: .3rem;
		padding-left: 0;
		padding-right: 0;
	}
	.btn-gray {
		width: 20%;
		float: left;
		padding-left: 0;
		padding-right: 0;
	}
}

.share-buttons {
	display: block;
	
	@extend .border-top;
	border-bottom: $border-width solid $border-color;
	margin: 0 0 0 0 ;
	padding: .425rem 0;
	float: none;
	.mb, 
	.extra-buttons {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0;
	}
	.mb + .mb,
	.extra-buttons {
		margin-left: .025rem;
	}
	.btn-label,
	.social-toggle {
		display: none;
	}
}

.open-gallery {
	display: block;
	position: relative;
}
.gallery-counter {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	text-align: center;
	padding: .625rem;
	font-size: 2rem;
	@extend .font-s2;
	font-weight: 500;
	transition: background-color .2s ease;
	.show-all {
		display: block;
		font-size: .8rem;
		font-weight: 500;
	}
}
a:hover {
	.gallery-counter {
		background-color: $col-blue-1;
	}

}

.main-image-caption {
	background-color: rgba(0,0,0,.3);
	padding: .2rem .4rem;
	color: rgba(255,255,255,.9);
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	font-size: .6rem;
	@extend .font-s2;
}

.author-username {
	font-size: .7rem;
	font-weight: 400;
	@extend .font-s2;
	a {
		color: #222;
	}
}

.author-follow {
	display: inline-block;
	.btn {
		vertical-align: baseline;
	}
}
.btn-follow-author {
	line-height: 1;
	margin-left: .2rem;
	font-size: .65rem!important;
	margin-top: -$border-width * 2;
	padding: 0.2rem .625rem .1rem;
	height: auto;
	
}

.btn-unfollow-author {
	position: relative;
	display: inline-block;
	&:before {
		backface-visibility: hidden;
		visibility: hidden;
		position: relative;
		white-space: nowrap;
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
		padding: .2rem .4rem; 
		background-color: #fff;
		color: #000;
		transform: translate3d(-50%,-$spacer, 0) scale(1.0, 1.0);	
		text-transform: none;
		font-size: .6rem;
		content: attr(title);
		opacity: 0;
		transition: all .1s ease;
	}

	&:hover {
		&:before {
			opacity: 1;
			visibility: visible;
			transform: translate3d(-50%, -1.3rem, 0) scale(1.0, 1.0);
		}
	}
}

.btn-follow-author.active {
	padding: 0 .2rem;
	color: #379f1b;
	color: $col-blue-1;
	font-size: .9rem;
	background-color: transparent;
}
.article-content {
	position: relative;
	margin-left: $col-1-width / 2;
	margin-right: $col-1-width / 2;
	
}
.article-body {
	@extend .font-g1;
	@extend .mb;
	font-size: 1.1rem;
	&> p {
		@extend .font-g1;
		font-size: 1.1rem;
		line-height: 1.5;
		margin-bottom: $spacer * 2;

		&> a {
			color: darken($col-blue-1, 10%);
			border-bottom: $border-width solid #ddd;
			transition: border-color .2s ease;
			&:hover {
				color: darken($col-blue-1, 10%);
				text-decoration: none;
				border-color: darken($col-blue-1, 0%);
			}
		}
	}
	
	&>ul, > ol {

		margin: 2rem 0;

		li {
			margin-bottom: 1rem;
		}

	}
	&>h2 {
		font-weight: 700;
		font-size: 1.2rem
	}

}

.article-byline {
	width: 100%;
	min-height: 3rem;
	margin-bottom: $spacer;
	a {
		color: rgba(0,0,0,.7);
		font-size: .8rem;
	}
}

.author-info {
	@extend .font-s2;
	font-weight: 500;
	display: inline-block;
	margin-top: .45rem;
}

.article-avatar {
	float: left;
	margin-right: $spacer / 2;
}

.article-author {
	display: inline-block;
	float: left;
	vertical-align: top;
	line-height: 1.4;
	text-align: left;
	height: 40px;
	float: left;
	margin-right: .4rem;
	img {
		max-width: 2.5rem;
		clear: both;
	}
	&+ .article-author {
		margin-left: 2rem; 
	}
}

.image-caption {
	font-size: .8rem;
	font-weight: 500;
	color: rgba(0,0,0,.5);
	padding: .4rem 0;
	line-height: 1.4;
	@extend .font-s2;

	
}
.blog-avatar {
	max-width: 100px;
	float: right;
	margin: 0 0 $spacer $spacer;
}



.image-meta {
	color: rgba(0,0,0,.4);
	display: block;
	font-size: .6rem;
	@extend .font-s2;
	
	
	padding-top: .2rem;
	.byline {
		padding-top: .2rem;
		display: inline-block;
	}

}
.article-image-float-right {
	margin-bottom: $spacer;

	margin-left: $spacer;
	@extend .article-off-grid;

	margin-top: .2rem;
	position: relative;
	clear: right;
	max-width: 21.75rem;
	float: right;
	@extend .fw-sm;
	.gallery-counter {
		font-size: 1.5rem;
		padding: .4rem;
		.show-all {
			font-size: .6rem;
		}
	}
}


.article-header {
	margin-bottom: $spacer;	
	padding-top: .5rem;
}

.article-trumpet {
	display: block;
	font-size: 1.2rem;
	color: $col-blue-1;
	margin-bottom: .4rem;
}
.article-header-live {
	margin-top: -($spacer * 3);
	padding: $spacer $spacer 0;
	background-color: $background-color;
	margin-bottom: 0;
}

.article-embed-center {
	margin: ($spacer * 2) 0;
	iframe {
		margin: 0 auto;
	}
}

.article-embedded-custom {
	margin: ($spacer * 2) 0;
	overflow: hidden;
	clear: both;
	margin-right: 0;
	
	iframe {
		margin: 0 auto;
	}
}
.article-summary {
	font-size: 1.2rem;
	color: #666;
	margin-bottom: .5rem;
	max-width: 55.125rem;
	@extend .font-g1;
	font-weight: 400;
	clear: left;
}


.embed-fade {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	&:before {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 5rem;
		@include gradient-vertical(
			fade-out(darken($background-color, 5%),1), $col-beige, 0%, 70%);
		content: '';
		z-index: 0;
	}
	.btn {
		margin-bottom: -6rem;
		z-index: 3;
	}

	&:after {
		// background: radial-gradient(ellipse 50% 10px at 50% 100%,#dfdfdf 0,#f8f8f8 110%);
		background: radial-gradient(ellipse 50% 10px at 50% 100%,fade-out(darken($background-color, 20%),.0) 0,fade-out(#dfdfdf,1) 110%);
    	height: 2.5rem;
    	content: '';
    	display: block;
    	left: 0;
    	position: absolute;
    	right: 0;
    	position: relative;
    	z-index: 2;

	}
}
.article-embed-blog-bio .embed-fade {
	&:before {
		@include gradient-vertical(fade-out(darken($col-coffee, 5%),1), $col-coffee, 0%, 70%);
	}
}

.toggle-embed {
	z-index: 2;
	position: relative;
	margin: 0 auto -1rem;
}
.embed-content {
	font-size: .7rem;
	font-weight: 400;
	@extend .font-s2;
	max-height: none;
	p, li {
		font-size: .9rem;
		@extend .font-s2;
		line-height: 1.4;
	}
}

.article-timeline-embedded {
	dl {
		position: relative;
		padding: .6rem 0 0 1rem;
		&:before {
			position: absolute;
			left: .2rem;
			top: 0;
			bottom: 0;
			width: .15rem;
			background-color: $col-blue-1;
			content: '';
		}
	}
	a {
		color: $col-blue-1;
		&:hover {
			color: darken($col-blue-1, 10%);
			text-decoration: underline;
		}
	}
	dt {
		@extend .font-s2;
		text-transform: uppercase;
		font-size: .75rem;
		font-weight: 500;
		display: block;
		margin-bottom: .3rem;
		z-index: 2;
		position: relative;
		color: #222;
		&:before {
			content: '';
			background-color: $col-blue-1;
			border: ($border-width * 2) solid darken($background-color, 5%);
			width: .8rem;
			height: .8rem;
			border-radius: 50%;
			position: absolute;
			left: -1.1rem;
			top: -$border-width;
			content: '';
		}
	}
	dd {
		margin: 0 0 $spacer;
		position: relative;
		padding-bottom: .625rem;
		font-size: .9rem;
	}
}
.article-embed-pull-right {
	margin: .2rem 0 .6rem  $spacer;
	clear: right;
	background-color: $col-beige;
	padding: $spacer;
	position: relative;
}

.article-embed-blog-bio {
	background: $col-coffee;
}


.embed-collapsed {
	.embed-content {
		max-height: 140px;
		overflow: hidden;
	}
	.embed-fade {
		display: block;
	}
}

.article-fact-default {
	position: relative;
	margin-bottom: $spacer * 3;
	background-color: $col-beige;
	padding: $spacer;
}

[class*="aside-header"] {
	@extend .font-g2;
	color: darken($col-beige, 70%);
	font-size: 1.9rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: $spacer;

}
.aside-header-sm {
	font-size: 1.4rem;
	margin-bottom: .625rem;
}


.aside-subheader {
	@extend .font-g2;
	color: darken($col-beige, 70%);
	font-size: 1.9rem;
	margin-bottom: .625rem;
	text-transform: uppercase;
	font-weight: 500;
}

.widget-livestream {
	background-color: #fff;
	padding: $spacer;
	border-radius: .2rem;
}



.widget-livestream {
	ul {
		list-style: none;
		position: relative;
		&:before {
			content: '';
			width: .2rem;
			left: 1.3rem;
			top: 0;
			bottom: 0;
			position: absolute;
			background-color: $col-live;
			display: inline-block;
		}
	}
	li {
		@extend .clearfix;
		margin-bottom: $spacer * 2;
		position: relative;
		font-family: georgia;
		font-size: 1.1rem;
		&:before {
			content: '\e815';
			font-family: b-icons;
			float: left;
			margin-left: -1.6rem;
			margin-top: -.0rem;
			color: $col-live;
			background-color: #fff;
			font-size: 1.2rem;
			z-index: 2;
		}
		h2 {
			@extend .font-header;
		}
	}


	time {
		color: $col-live;
		display: block;

	}

	.live-img {
		float: right;
		max-width: 300px;
		margin: 0 0 $spacer $spacer;
		clear: right;
		figcaption {
			font-size: .7rem;
			padding-top: .3rem;
			
		}
	}
	.video-youtube,
	.twitter-tweet {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}	
}


.img-gradient {
	display: inline-block;
	overflow: hidden;
	// @include gradient-directional( $col-blue-2, #fff, 45deg);
	border-radius: 50%;
	img {
		filter: grayscale(100%) ;	
		// opacity: .7;
		border-radius: 50%;
	}
}

.article-date {
	@extend .font-s2;
	clear: both;
	color: #666;
	font-size: .8rem;
	margin-bottom: .6rem;
	text-transform: uppercase;
	a {
		color: #666;
	}
}

.updated {
	font-weight: 500;
}


.article-embedded-link {	

	clear: left;
	width: 100%;
	margin: $spacer 0 (2 * $spacer);

	article {
		min-height: 66px;
		// margin-bottom: 2 * $spacer;
	}
	.teaser-body {
		overflow: hidden;
	}
	.teaser-body > span {
		font-size: .7rem;
		color: $col-blue-1;
		font-weight: 500;
		text-transform: uppercase;
		@extend .font-s2;
	}
	figure {
		float: left;
		margin: 0 .625rem 0 0;
	}
	.header {
		@extend .font-g1;
		position: relative;
		font-weight: 600;
		font-size: 1rem;
		a:hover {
			color: $col-blue-1;
		}
	}
}



$sharebutton: 2rem;
$sharebutton-sm: 1.7rem;

.label-follow {
	@extend .font-s2;
	margin-right: .4rem;
	line-height: $sharebutton-sm;
	font-size: .8rem;
}

[class*="btn-share"] {
	display: inline-block;
	height: $sharebutton;
	width: $sharebutton;
	line-height: $sharebutton;
	border: 0;
	border-radius: 50%;
	text-align: center;
	transition: all .2s ease;
	color: #666;
	font-size: .9rem;
	i {
		vertical-align: initial;
	}
	&:hover {
		background-color: #eee;
		border-color: #ddd;
		color: #333;
		
	}
	&:active{
		transform: scale(.95);
	}
}

[class*="btn-share-sm"] {
	height: $sharebutton-sm;
	width: $sharebutton-sm;
	line-height: $sharebutton-sm;
	font-size: .8rem;
}

.btn-comment-counter {
  float: right;
  width: auto;
  @extend .font-s2;
  font-weight: 500;
  text-transform: uppercase;
  height: auto;
  line-height: $sharebutton;
  padding:  .2rem 0 0;
  border: 0;
  background-color: transparent;
  font-size: .8rem;
  color: #666;
  
  i {
  	font-size: 1.2rem;
  	/*margin-bottom: -1rem;
  	margin-top: -1rem;*/
  	vertical-align: middle;
  }
  &:hover {


	color: #333;
    text-decoration: none;
  }
}

.btn-share-sm-facebook,
.btn-share-facebook {
	background-color: $col-facebook;
	color: #fff;
	&:hover {
		background-color: darken($col-facebook, 10%);
		color: #fff;
	}
}
.btn-share-sm-twitter,
.btn-share-twitter {
	background-color: $col-twitter;
	
	color: #fff;
	&:hover {
		background-color: darken($col-twitter, 10%);
		color: #fff;
	}
}
.btn-share-sm-instagram,
.btn-share-instagram {
	background-color: $col-instagram;
	color: #fff;
	&:hover {
		background-color: darken($col-instagram, 10%);
		color: #fff;
	}
}
.btn-share-sm-black,
.btn-share-black {
	background-color: #222;
	color: #fff;
	&:hover {
		background-color: darken(#222, 10%);
		color: #fff;
	}
}

.btn-share-envelope, 
.btn-share-print {
	box-shadow: 0 0 $border-width rgba(0,0,0,.4) inset;
}

.btn-share-linkedin {
	background-color: $col-linkedin;
	color: #fff;
	&:hover {
		background-color: darken($col-linkedin, 10%);
		color: #fff;
	}
}
.social-toggle {
	display: none;
}

.hide-labels .btn-label {
	display: none;
}
.btn-label {
	font-size: .6rem;
	@extend .font-s2;
	font-weight: 500;
	color: #999;
	padding: .4rem 0 0;
	margin-bottom: -.625rem;
	text-transform: uppercase;
}

.social-toggle {
	display: none;
	padding: .5rem 0;
	transition: all .5s ease;
	margin-top: -$spacer;
	color: #999;
}


.share-buttons-horizontal {
	position: inherit;
	width: 100%;
	margin-left: auto;
	text-align: left;
	.btn-label {
		text-align: center;
	}
	.extra-buttons {
		display: inline-block;
	}
	.social-toggle {
		display: none;
	}
	.mb {
		display: inline-block;
		vertical-align: top;

	}
}

.article-image-embed {
	margin-bottom: $spacer;
	margin-left: -$col-1-width;
	img {
		margin-bottom: .625rem;
	}
	figcaption {
		font-size: .7rem;
		color: #999;
	}
}



[class*="super-byline-"] {
	text-transform: uppercase;
	@extend .font-g2;
	font-weight: 500;
	margin-bottom: .5rem;
	position: relative;
	font-size: 1.6rem;
	&:after {
		content: '';
		background-color: $border-color;
		height: $border-width;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
	}
	i {
		color: #999;
		font-style: normal;
		font-weight: 400;
	}
}

.badge {
	margin-right: $spacer;
	float: right;
	background: $col-blue-2;
	border-radius: 50%;
	display: inline-block;
	color: $background-color;
	text-align: center;
	@extend .font-sans-alt;
	position: relative;
	z-index: 2;
}
.super-author {
	display: inline-block;
	padding: 0 $spacer 0 0;
	background-color: $background-color;
	z-index: 2;
	position: relative;
}

.super-byline-1 {
	height: $badge-1;
	line-height: $badge-1;
	.badge {
		width: $badge-1;
		height: $badge-1;
		line-height: $badge-1;
		font-size: 1.2rem;
	}
	.super-author {
		height: $badge-1;
		line-height: $badge-1;
	}
}
.super-byline-2 {
	height: $badge-2;
	line-height: $badge-2;
	
	.badge  {
		width: $badge-2;
		height: $badge-2;
		line-height: $badge-2;
		font-size: 1rem;
	}
	.super-author {
		height: $badge-2;
		line-height: $badge-2;
	}
}

.article-embed-quote {

	background-color: transparent;
	padding-top: 0;
	blockquote {
		padding: 6rem 0 2rem;
		margin: 0;
		color: #222;
		position: relative;
		&> p {
			@extend .font-header;
			font-size: 1.5rem;
		}
		cite {
			font-style: normal;
			font-size: .8rem;
			line-height: 1.2;
			display: block;
			@extend .font-52;
		}
		&:before {
			position: absolute;
			font-family: b-icons;
			content: '\e815';
			font-size: 4rem;
			top: 0;
		}
	}
}

[class*="event-header-"] {
	padding: .425rem .425rem .325rem;
	font-weight: 500;
	@extend .font-s2;
	font-size: 1.2rem;
	margin-bottom: .725rem;
	text-transform: uppercase;
	line-height: 1;
	display: inline-block;
	background-color: $col-live;
	color: #fff;
}

.event-header-breaking {
	background-color: $col-breaking;
	color: #222;
}
.event-header-live {
	background-color: $col-live;
	color: #fff;
	// transform: skew(-10deg,0);
}
.event-header-inawhile {
	color: #fff;
	background-color: $col-live;
}
.event-header-update {
	color: #fff;
	background-color: $col-live;
}

.article-topics {
	position: relative;
	@extend .ipadHack;
	
	padding-top: 1rem;
	font-size: .75rem;
	@extend .font-s2;
	clear: left;
	color: #222;
	

	ul {
		padding-left: 0; 
		margin: 0;
	}	
	li {
		display: inline-block;
		margin-right: .2rem;
		margin-bottom: .4rem;
		font-weight: 400;
	}
	a {
		display: inline-block;
		border-radius: 40rem;
		vertical-align: middle;
		padding: .3rem .625rem .2rem; 
		background-color: rgba(0,0,0,.1);
		color: #666;
		&:hover {
			background-color: rgba(0,0,0,.15);
			text-decoration: none;
			color: #333;
		}
		
	}
}
.toggle-loadmore-fade,
.toggle-loadmore-fade-inv {
	display: block;
	text-align: center;
	margin-bottom: 2rem;
	z-index: 2;
	background: radial-gradient(ellipse 50% 10px at 50% 100%, darken($background-color, 10%) 0%, $background-color 110%);
	height: 2.5rem;

	.btn {
		margin-top: 1.5rem;
		background-color: #ddd;
		&:hover {
			background-color: darken(#ddd, 5%);
		}
	}
}
.toggle-loadmore-fade-inv {
	background: radial-gradient(ellipse 50% 10px at 50% 0%, darken($background-color, 10%) 0%, $background-color 110%);
}

.xtra-related {
	@extend .hidden;
}
.partner-related {
	@extend .border-top;
	padding-top: .625rem;
	@extend .mb;
	clear: both;
}
.article-related {
	@extend .border-top;
	position: relative;
	margin-top: $spacer;
	@extend .ipadHack;
	padding-top: .625rem;
	@extend .mb;
	clear: both;
	.toggle-loadmore-fade {
		margin-top: -3rem;
	}
	figure {
		width: 60px;
	}
	
	li {
		min-height: 3rem;
	}
	
	
}


.article-bottom {
	@extend .mb;
	margin-top: 2rem;
	// @extend .article-off-grid
}

.list-article-related {
	list-style: none;
	padding-left: 0;
	margin: 0;
	li {
		
		font-size: .9rem;
		&:first-child {
			padding-top: 0;
		}
	}
}
#related-counter {
	display: none;
}
.list-show-first-two {
	li {
		display: none;
	}
	li:nth-child(-n+2) {
		display: block;
	}
	&+ #related-counter {
		display: inline-block;
		@extend .font-s2;
		@extend .link-blue;
		font-weight: 500;
		font-size: .8rem;
		padding: .5rem 0;
	}
}


.article-marketing-embedded {
	padding: 0;
	background-color: transparent;
	margin-bottom: 2rem;
	iframe {
		width: 100%;
	}
	
}

.article-newsletter-embedded {
	position: relative;
	overflow: hidden;
	margin-bottom: 2rem;
	@extend .article-off-grid;

	&:before {
		display: none;
	}
	clear: right;
	label {
		@extend .clearfix;
		display: block;
		@extend .font-s2;
		color: rgba(0,0,0,.8);
	}
	
	small {
		font-size: .8rem;
		color: rgba(0,0,0,.5);
	}
	.message {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		background-color: $background-color;
		text-align: center;
		opacity: 0;
		transform: translateX(50%);
		transition: all .2s ease;
		visibility: hidden;
	}
}
.form-ok .message {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

.newsletter-breaking {
	background-color: $col-breaking;
	small {
		color: #222;
	}
}

.article-newsletter {
	label {
		@extend .clearfix;
		display: block;
		padding-top: .5rem;
		@extend .font-s2;
		color: rgba(0,0,0,.5);
	}
	span {
		font-size: .9rem; 
	}
}

a.open-gallery {
	&:after {
		width: 2rem;
		height: 2rem;
		display: inline-block;
		content: '\e820';
		border-radius: 50%;
		line-height: 2rem;
		top: .625rem;
		right: .625rem;
		background-color: rgba(0,0,0,.9);
		color: #fff;
		font-size: 1.0rem;
		font-family: b-icons;
		text-align: center;
		position: absolute;
		transition: all .2s ease;
	}
	&:hover{
		
		&:after {
			transform: scale(1.2);
			background-color: $col-blue-1;
		}
	}
}
.show-counter:after {
	display: none!important;
}
figure > .open-gallery {
	position: relative;
	
}
.article-image-float-right .open-gallery:after {
/*	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;*/
}
.list-theme {
	padding-left: 0;
	list-style: none;
	margin-top: 0;
	li {
		position: relative;
		padding-bottom: .625rem; 
		margin-bottom: .625rem;
		border-bottom: $border-width solid $border-color;
		&:first-child {
			padding-top: 0;

		}
		&:last-child {
			// padding-bottom: 0;
			margin-bottom: 0;
			//border: 0;
		}
		&.current {
			font-weight: 500;
		}
	}

}
.tpl-article-longread,
.tpl-article-large {
	.article-content {
		margin-left: 0;
		margin-right: 0;
	}
}

.tpl-article-large {
	.article-bottom {
		max-width: $contentWidthLG;
		margin-left: auto;
		margin-right: auto;
	}
}

$longreadPadding: 20rem;

.tpl-article-longread {
	
	.article-embedded-custom {
		margin-right: 0;
	}
	
	.article-embed-pull-right {
		margin-right: -10rem;
	}
	.photo-byline {
		position: absolute;
		top: 1rem;
		right: .625rem;
		display: inline-block;
		color: rgba(255,255,255,.5);		
		line-height: 1;
		@extend .font-s2;
		font-size: .7rem;
		background-color: rgba(0,0,0,.5);
	}
	.image-caption {
		padding-top: $spacer;
	}
	.share-buttons,
	.article-date,
	.article-bottom {
		margin: $spacer auto;
		max-width: $contentWidthLG;
	}
	.article-author {
		float: none;
	}


	
	
	.article-body {
		padding-left: (35.938rem / 2);
		padding-right: (35.938rem / 2);
	}
	.article-image-embed-longread {
		margin: (2 * $spacer) -12rem;
		figcaption {
			padding-left: 0rem;
			padding-right: 20rem;
		}
	}
	
	.article-trumpet {
		color: #000;
	}
}




.tpl-article-longread {
	.share-buttons {
		@extend .ipadHack;
	}
}


.longread-head {
	height: calc(100vh - 3rem);
	min-height: 32.5rem;
	max-height: 50rem;
	position: relative;
	h1 {
		padding-bottom:.625rem;
		color: #fff;
		margin: 0;
		padding-top: .625rem;
	}
	
	.article-trumpet {
		margin: 0;
		color: #fff;
	}
	.article-summary {
		color: #fff;
		margin: 1rem 0;
		
	}
}

.longread-head-inner {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.longread-wrapper {
	background-color: rgba(0,0,0,.5);
}

.header-container {
	margin: 0 auto; 
	max-width: $contentWidthLG;
}
.longread-head-image {
	position: relative;
	display: table-cell;
	vertical-align: bottom;
	background-position: center center;
	background-size: cover;
}

.longread-head {
	position: relative;
	background-position: center center;
	background-size: cover;
	max-height: initial;
}		
.longread-head-inner {
	display: table;
	width: 100%;
	height: 100%;
}

.longread-wrapper-summary {
	padding: 1rem 0;
	display: table-row-group;
	height: $border-width;
	background-color: #222;
	
	
}

.article-embed-pull-right {
	margin-right: -$col-1-width / 2;
	width: 16.250rem;
	float: right;

}


[class*="continue-reading-"] {
	&:before {
		@extend .font-s2;
	}
}


.close-overlay {
	position: absolute;
	top: 1rem; 
	right: 1rem;
	font-size: 1rem;
	color: #999;
	&:hover {
		color: $col-blue-1;
	}
}

.overlay-author-signup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,.5);
	z-index: 9999;
	display: flex;
	align-items: center;	
	position: fixed;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease;
	@extend .font-g1;
	&>a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		display: block;
	}
	form {
		margin-bottom: $spacer;
		text-align: left;
		overflow: hidden;
		position: relative;
		&:after {
			position: absolute;
			background-color: $brand-success;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			line-height: 2rem;
			color: rgba(0,0,0,.5);
			opacity: 0;
			transition: all .2s ease;
			transform: translateY(-100%);
			content: '';
			
		}
		input[type=email] {
			width: 70%;
			box-shadow: 0 2px 2px rgba(0,0,0,.25) inset, 0 -1px 0 rgba(0,0,0,.1) inset;
		}
		.btn {
			width: 30%;
		}	
	}
	.bicon-mail {
		line-height: 3rem;
		width: 3rem;
		height: 3rem;
		font-size: 1.1rem;
		margin-bottom: $spacer;
		display: inline-block;
		background-color: $col-blue-1;
		color: #fff;
		text-align: center;
		box-shadow: 0 0 $border-width $border-color;
		border-radius: 50%;
	}
	
	.overlay-inner {
		width: 17.5rem;
		text-align: center;
		padding: 1rem;
		border: $border-width solid $border-color;
		background-color: #fff;
		transition: all .3s ease-out;
		opacity: 0;
		transform: translateY(-2rem);
		border-radius: .2rem;
		box-shadow: 0 0 .5rem rgba(0,0,0,.2);
	}
	small {
		color: #999;
	}
	.form-oneliner-ok:after {
		content: 'Tak for din interesse!';
		transform: translateY(0);
		opacity: 1;
	}
}	

.show-author-overlay {
	.overlay-author-signup {
		opacity: 1;
		visibility: visible;
	}
	.overlay-inner {
		transform: translateY(0);
		opacity: 1;
	}
}

	
@include media-breakpoint-only(xl) {
	.tpl-article-longread {	
		.article-embedded-custom {
			margin-left: -$col-1-width / 2;
			margin-right: -$col-1-width / 2;
		}
	}
	.article-video {
		margin-left: -$col-1-width / 2;
	}

	.article-topics {
		.micro-title {
			margin-top: .3rem;
		}
	}
	.article-image {
		margin-left: -$col-1-width / 2;
	}
	.article-off-grid {
		margin-right: -$col-1-width / 2;
	}
	
	
	
}
@include media-breakpoint-up(md) {
	.article-header {
		border-top: .313rem solid #222;
		margin-top: .5rem;		
	}
}



@include media-breakpoint-only(lg) {
	
	.background-image {
		height: 30rem;
	}
}
@include media-breakpoint-down(lg) {
	
	.inline-banner {
		margin-right: 0;
	}
	.article-content,
	.article-image {
		margin-left: auto;
		margin-right: auto;
	}
	.article-embed-pull-right {
		margin-right: auto;
	}
	

	.article-related,
	.article-topics {
		margin-left: 0;
		.header-float-left {
			float: none;
			margin-bottom: .625rem;
			&+div {
				padding-left: 0;
			}
		}
	}

	.tpl-article-longread {
		.article-body {
			padding-left: (20rem / 2);
			padding-right: (20rem / 2);
		}
		.article-image-embed-longread {
			margin-left: -6rem;
			margin-right: -6rem;
			figcaption {
				padding-right: 0;
			}
		}
		.share-buttons {
			margin-left: auto;
			max-width: none;
		}

	}
}

@include media-breakpoint-only(md) {
	
	.topbanner {
		margin-top: .625rem!important;
	}

	.tpl-article-longread {
		.article-summary {
			max-width: none;
		}
		.article-date,
		.article-summary {
			
			margin: 1rem auto;
		}
	}
	.large-share-buttons {
		border-bottom: $border-width solid $border-color;
		padding-bottom: $spacer;
		margin-bottom: $spacer;
	}
}
@include media-breakpoint-down(md) {
	
	.longread-head {
		height: calc(100vh - 7.3rem);	
		min-height: initial;
	} 
	.longread-wrapper-summary {
		display: table-row-group;
		height: 0.0625rem;
		background-color: #222;

	}

	[class*="event-header-"] {
		font-size: .9rem;
		padding: .225rem .325rem .225rem;

	}

	.article-header {
		margin-left: auto;
		margin-right: auto;
	}

	.tpl-article-longread {
		.article-image-embed-longread {
			margin-left: 0;
			margin-right: 0;
		}
		.article-embedded-custom {
			margin-left: 0;
			margin-right: 0;
		}

		.article-embed-pull-right {
			margin-right: 0;
		}
	}

	
	
	.article-title {
		font-size: 2.3rem;
	}
	[class*="btn-share"] {
		height: 1.8rem;
		width: 1.8rem;
		line-height: 1.8rem;
		font-size: 1rem;
	}

	.btn-comment-counter {
		width: auto;
		padding-top: 0;
		font-size: .8rem;
	}
	.tpl-article-longread {
		.article-content {
			
			margin: 0 auto;
		}
		.article-body {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.article-image-longread {
		
		.article-title {
			font-size: 3rem;
		}	
	}
}



@include media-breakpoint-down(sm) {
	
	.show-author-overlay { 
		overflow: hidden;
	}

	[class*="event-header-"] {
		font-size: .9rem;
		padding: .225rem .325rem .225rem;

	}
	.article-trumpet {
		font-size: .9rem;
	}

	.tpl-article-longread {
		.article-trumpet {
			color: $col-blue-1;
		}
		.article-summary {
			margin: $spacer 0;
		}
		.article-byline {
			min-height: initial;
		}
		.article-author:last-of-type {
			margin-bottom: 0;
		}
	}

	.longread-wrapper,
	.longread-wrapper .article-summary {
		padding-left: .625rem;
		padding-right: .625rem;
	}
	
	[class*="super-byline-"] {
		font-size: 1.2rem;
		margin-bottom: .5rem;
	}

	.super-byline-1 {
		height: $badge-1-sm;
		line-height: $badge-1-sm;
		.badge {
			width: $badge-1-sm;
			height: $badge-1-sm;
			line-height: $badge-1-sm;
			font-size: 1rem;
		}
		.super-author {
			height: $badge-1-sm;
			line-height: $badge-1-sm;
		}
	}
	.super-byline-2 {
		height: $badge-2-sm;
		line-height: $badge-2-sm;
		
		.badge  {
			width: $badge-2-sm;
			height: $badge-2-sm;
			line-height: $badge-2-sm;
			font-size: .8rem;
		}
		.super-author {
			height: $badge-2-sm;
			line-height: $badge-2-sm;
		}
	}
	
	.article-author {
		margin-bottom: .5rem;
		min-height: 32px;
		display: inline-block;
		clear: left;
	
		&+.article-author {
			margin-left: 0;
		}	
		img {
			max-width: 2rem;
		}
	}
	
	.article-byline {
		clear:both;
		margin-bottom: .5rem;
		&> div {
			float: none;
		}
	}

	
	.article-topics {
		.fadeout {
			content: '';
			width: 1rem;
			position: absolute;
			right: -.1rem;
			height: 1.5rem;
			bottom: -.1rem;
			top: -.1rem;
			display: inline-block;
			@include gradient-horizontal(fade-out($background-color,1), darken($background-color, 0%), 0%, 70%);
			z-index: 2;
			line-height: 1;
			margin: 0;
		}
		ul {
			height: 1.5rem;
			overflow: hidden;
			overflow-x: scroll;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}	
		li {
			margin-bottom: 0;
		}
	}
	
	.article-comments-top {
		display: block;
		margin-top: .3rem;
	}
	.article-embed-pull-right {
		margin-left: auto;
	}

	.article-embed-quote {
		margin-top: 0!important;
		padding: 0;
		blockquote {
			padding: 4rem 0 0;
			&:before {
				font-size: 3rem;
			}
		}
		&:before {
			display: none!important;
		}
	}

	.embed-collapsed-sm {
		.embed-content {
			max-height: 140px;
			overflow: hidden;
		}
		.embed-fade {
			display: block;
		}
	}

	

	.article-header {
		border: 0;
	}

	.article-body {
		font-size: 1rem;

		
		&> p {
			font-size: 1rem;
			line-height: 1.5;
			margin-bottom: $spacer * 1.5;
		}
		&>h2 {
			font-size: 1rem;
			line-height: 1.5;
		}
		

	}
	.image-caption {
		padding-left: .625rem;
		padding-right: .625rem;
		font-size: .7rem;
	}
	.article-image {
		@extend .fw-sm;
	}
	.article-title {
		font-size: 1.7rem;
	}
	.article-summary {
		font-size: 1rem;
	}
	.article-date {
		font-size: .6rem;
	}
	.article-byline {
		a {
			font-size: .6rem;
		}
	}
	.article-image-float-right,
	.article-embed-pull-right {
		float: none;
		width: inherit;
		margin-top: $spacer * 2;
		margin-bottom: $spacer;
		max-width: none;
	}
	
	

	
	.author-info {
		font-size: .9rem;
		margin-top: 0;
	}
	.article-avatar {
		margin-right: .3rem;
	}

	[class*="continue-reading-"] {
		margin-top: 3rem;
		position: relative;

		&:before {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: -2rem;
			font-size: .7rem;
			text-align: center;
			padding: .5rem 0;
			color: rgba(0,0,0,.4);
		}
	}
	.continue-reading-fact:before {
		content: 'Artiklen fortsætter efter faktaboksen';
	}
	.continue-reading-image:before {
		content: 'Artiklen fortsætter efter billedet';
	}
	.continue-reading-banner:before {
		content: 'Artiklen fortsætter efter annoncen';
	}

	.article-newsletter-embedded {
		margin-top: 0;
		margin-bottom: $spacer;
		clear: both;
		&:before {
			display: none;
		}
	}	
	.article-marketing-embedded {
		margin: 0; 
	}	 
}









@include media-breakpoint-down(xs) {
	.article-newsletter {
		width: 100%;
		margin: 0 0 $spacer 0;
		clear: both;
	}
}

