
html, body {
	height: 100%;
	@extend .font-sans;
}

img {
	@extend .img-fluid;
}
body {
	background: $background-color;
}

.container {
	background-color: $background-color;
	position: relative;
}

.col-twitter {
	color: $col-twitter;
}


.site-business {
	.header-sticky .container {
		background: transparent;
	}
	background: $col-business;	
	.header-sticky,
	.site-header .header-bottom,
	.container {
		background: $col-business;
	}

	.header-top .container, 
	.header-middle .container{
		background-color: $background-color;
	}

}
.main-content {
	padding-top: 1.425rem;
	
	&:before {
		content: '';
		position: absolute;
		top: .5rem;
		left: .625rem;
		right: .625rem;
		height: .313rem;
		background-color: #222;
	}
}



ul.list-reset {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
	li {
		padding-left: 0;
	}
}


.col-primary-wide .row + .row {
	margin-top: 1rem;
}

.deck {
	margin-bottom: $spacer * 4;
	@extend .clearfix;
	@extend .flex-row;	
}

.deck-cappucino {
	background: $col-cappucino;
	padding: .625rem;
}

.deck-border-bottom {
	border-bottom: $border-width solid $border-color;
	padding-bottom: $spacer;
}
.micro-title {
	@extend .font-s2;
	font-weight: 500;
	font-size: .75rem;
}

.page-content {
	margin-top: .5rem;
}
.top-block {
	position: relative;
	padding-top: 1rem;
	&:before {
		display: inline-block;
		width: 100%;
		content: '';
		height: .313rem;
		position: absolute;
		top: 0;
		background-color: #222;
	}
}
.section-title-small-border {
	position: relative;
	&:before {
		display: inline-block;
		width: 4rem;
		content: '';
		height: $border-width;
		position: absolute;
		top: 0;
		background-color: $border-color	
	}
}
.section-title-lg {
	@extend .font-sans-alt;
	font-size: 3rem;
	font-weight: normal;
	text-transform: uppercase;
}
.section-title {
	@extend .font-sans-alt;
	color: #333;
	line-height: 1.2;
	font-size: 1.5rem;
	display: block;
	letter-spacing: .0rem;
	margin: 0 0 $spacer;
	font-weight: normal;
	@extend .top-block;
	text-transform: uppercase;
	small {
		font-size: 70%;
	}
	.right {
		@extend .font-s2;
		text-transform: none;
		font-size: .8rem;
		vertical-align: baseline;
		display: inline-block;
	}
}

.section-title-no-border {
	@extend .section-title;
	padding-top: 0;
	&:before {
		display: none;
	}
}
.section-title-sm {
	@extend .section-title;
	font-size: 1rem;
}

.section-description {
	@extend .font-s2;
	font-size: .8rem;
	color: #666;
}
.sidebar .section-title {
	margin-top: $spacer * 2;
}
.section-link, 
.section-date {
	@extend .font-sans-alt;
	display: block;
	font-size: .9rem;
	line-height: 1;
	padding: .3rem 0;
	text-transform: uppercase;
	a {
		@extend .link-blue;
		display: block;
	}
}
.section-sponsor {
	position: absolute;
	bottom: 0;
}
.section-date {
	line-height: 1.4;
	padding: $spacer 0;
	border-top: $border-width solid $border-color;
	border-bottom: $border-width solid $border-color;
}


$col-tag-width: 10rem;
$col-sidebar-width: 19.375rem;

.col-wrapper {
	width: calc(100% - 19.375rem);
	float: left;
	@extend .flex-row;
}

.trade-contianer-wide {
	padding-left: .625rem;
}
.col-primary {
	width: calc(100% - #{$col-tag-width});
	padding-right: .625rem;
	float: left;
}
.col-primary-wide {
	width: calc(100% - #{$col-tag-width});
	padding-right: .625rem;
	float: left;
}
.col--full-width {
	margin: 0 0 0 -.625rem;
	// padding-right: .625rem;
	width: 100%;


}
.col-wrapper > .col-primary-wide {
	width: 100%;
}
.col-sidebar {
	// padding-top: $spacer;
	width: $col-sidebar-width;
	float: left;
	padding-left: .625rem;
}

.col-tags {
	width:  $col-tag-width;
	float: left;
	padding-right: (.625rem * 2);
	position: relative;
	.section-title {
		margin-bottom: 0;
	}
}

.teaser-wide + .col-wrapper {
	margin-top: -5rem;
	background-color: $background-color;
	padding-top: 1.313rem;
	z-index: 2;
	position: relative;
	&:before {
		position: absolute;
		left: 0;
		right: 1.25rem;
		top: .625rem;
		height: $border-width;
		background-color: $border-color;
		content: '';
	}

}
/*.col-tags + .col-primary {
	width: calc(100% - #{$col-tag-width + $col-sidebar-width});
}*/
.list-title {
	@extend .font-sans;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-top: $spacer;
	margin-bottom: $spacer;
	@extend .top-block;
}




$col-deck-label-width: 160px;

.col-deck-label {
	width: $col-deck-label-width;
	float: left;
	min-width: 1px;
	min-height: 1px;
	position: relative;
	
	padding-right: .625rem;
	padding-left: .625rem;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		right: 0px;
		top: 0;
		bottom: 0;
		background-color: $border-color;
		width: $border-width;
	}
}

.show-overlay {
	overflow: hidden;
}
.overlay {
	@extend .font-g1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: fade-out($background-color, .1);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	overflow: auto;
	transition: opacity .2s ease;
	padding-bottom: 2rem;
	.overlay-inner {
		padding: 1rem;
		border: $border-width solid $border-color;
		background-color: $background-color;
		transition: all .3s ease-out;
		opacity: 0;
		transform: translateY(-2rem);
		border-radius: .2rem;
		box-shadow: 0 0 .5rem rgba(0,0,0,.2);
	}
	.close-overlay {
		z-index: 99;
	}

	&>a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		display: block;
	}
}
.flex-center {
	display: flex;
	align-items: center;	
	position: fixed;
	justify-content: center;
}

.overlay-login {
	
	.site-logo {
		font-size: 3rem;
	}
	
	.overlay-inner {
		margin: 2rem auto auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
		width: 30rem;

		overflow: hidden;
		position: relative;
	}
	.forgot-password {
		font-size: .8rem;
		margin-top: .35rem;
		display: inline-block;
	}
	.slide-2 {
		transform: translateX(105%);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: $background-color;
	}
	.slide-1, 
	.slide-2 {
		transition: transform .2s ease;
	}
	.switch-overlay {
		.slide-1 {
			transform: translateX(-100%);	
		}
		.slide-2 {
			transform: translateX(0);	
		}
	}
}
.forgot-password-container {
	padding: 2rem 1rem 1rem;
	form {
		position: relative;
	}	
}

.overlay-sendtoafriend {	
	.overlay-inner {
		margin: 2rem auto auto;
		padding-top: 1rem;
		padding-bottom: 2rem;
		width: 30rem;
		position: relative;
	}
	.close-overlay {
		top: 2rem;
	}
}

.close-overlay {
	position: absolute;
	top: 1rem; 
	right: 1rem;
	font-size: 1rem;
	color: #999;
	&:hover {
		color: $col-blue-1;
	}
}

.overlay-author-signup.show-me,
.overlay-sendtoafriend.show-me,
.overlay-login.show-me {
	opacity: 1;
	visibility: visible;
	.overlay-inner {
		transform: translateY(0);
		opacity: 1;
	}
}



@include media-breakpoint-down(md) {
	.col-deck-content,
	.col-deck-label {
		display: block;
		width: 100%;
	}
	.col-primary {
		width: 100%;
	}
}

.col-deck-content {
	width: calc(100% - 160px);
	float: left;
	position: relative;
	@include media-breakpoint-down(md) {
		width: 100%;
	}

	&:after {
		position: absolute;
		top: 0rem;
		bottom: 0;
		left: auto;
		right: 0;
		width: $border-width;
		background-color: $border-color;
		content: '';
	
	}	
}
.well-container + .row > .col-primary .col-deck-content {
	&:after {
		top: 3.75rem;
		right: -(.625rem / 2);
	}
}





// Gallery
.row-narrow {
	margin-left: -.3125rem;
	margin-right: -.3125rem;
	&>[class*="col-"],
	&>[class*="col-"] {
		padding-left: .3125rem;
		padding-right: .3125rem;
	}
}
.gallery-item {
	width: 33.333333333%;
	float: left;
	padding-left: .3125rem;
	padding-right: .3125rem;
}


.today {
	strong {
		@extend .gray-darker;
	}
}



.quote {
	/*@extend .font-header;*/
	font-family: Oswald, sans-serif;
	font-size: 1.75rem;
	line-height: 1.75;
	color: rgba(0,0,0,.8);
	margin-left: -$col-1-width ;
	max-width: 280px;
	float: left;
	margin-right: $spacer;
	span {
		border-bottom: ($border-width * 2)  solid rgba(255,0,0,.6);	
		background-color: rgba(255,0,0,.05);	
	}
	cite {
		@extend .font-sans;
		font-style: normal;
		color: #888;
		font-size: .9rem;
		display: block;
	}
}

[class*="article-badge"] {
	@extend .font-sans-alt;
	color: #222;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: $spacer;
}

.article-badge-live {
	background-color: $col-live;
	color: #fff;
	text-align: center;
	padding: .625rem 0;
	display: block;
	margin: 0;
}






.article-large-content {
	width: 100%;
}

.col-2-sidebar {
	width: 300px;
	float: left;
	margin-left: 20px;
	@include media-breakpoint-down(md) {
		width: 100%;
		@extend .ipadHack;
		float: none;
		margin: 0 auto;
	}
}

.teaser-buffet:nth-child(n+6) {
	.teaser {
		border-top: $border-width solid $border-color;
		padding-top: $spacer;
	}
}

.widget {
	border-top: .3rem solid $border-color;
	border-bottom: .3rem solid $border-color;
	padding: .4rem 0;
	text-align: center;
}

.consumersales-belt {
	position: relative;
	padding: $spacer 0;
	border-top: .3rem solid #222;
	.section-title {
		padding-top: 0;
		&:before {
			display: none;
		}
	}

	
	.container {
		background-color: transparent;
	}
	&:before {
		content: '';
		background-color: fade-out($col-sunyellow, .5);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.like-berlingske {
	padding-top: .5rem;
	margin-top: -1rem;
}

.alert {
	padding: .625rem;
	margin-bottom: 1rem;
	border: $border-width solid transparent;
	p {
		font-size: 90%;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.alert-success {
	@include alert-variant($brand-success, darken($brand-success, 10%), rgba(0,0,0,.7));
}
.alert-danger {
	@include alert-variant(#f2dede, fade-out($brand-danger, .8), $brand-danger);
}




@include media-breakpoint-down(sm) {
	.overlay-login {
		.site-logo {
			font-size: 2rem;
		}
	}
	.overlay-inner {
		max-width: 90vw;
	}
}