.cookie-warning {
	position: fixed;
	bottom: -$border-width;
	left: 0;
	right: 0;
	/*background-color: rgba(0,0,0,.95);*/
	background-color: $background-color;
	z-index: 99;
	padding: 1rem 1rem 1.2rem;
	@extend .font-s2;
	text-align: center;
	p {
		font-size: .9rem;
		position: relative;
		span {
			background: url(/dist/images/cookies.png) left top no-repeat;	
			display: inline-block;
			width: 14px;
			height:14px;
			background-size: contain;
			vertical-align: middle;
		}
	}
	.btn {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	
	.container {
		background: initial;
	}
	@include media-breakpoint-down(sm) {
		
	}
}

