.demo-header {
	font-weight: 300;
	font-size: 2rem;
}
.demo-phone-banner {
	@extend .fw-sm;
	height: 200px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	.background-image {
		padding-top: 60%;
		background-attachment: fixed;
		overflow-y: hidden; 
	}

}
.demo-banner {
	background: rgba(0,0,0,.1);
	margin: 0 auto;
	position: relative;
	z-index: 2;
	&:after {
		position: absolute;
		top: .625rem;
		left: .625rem;
		content: '';
		@extend .small;
		color: #999;
	}
}


.banner-wrapper {
	position: relative;
}
.bg-banner {
	@extend .absolute;
	bottom: 0;
	height: 100%;	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.test {
	background-color: #222;
	padding: .625rem;
	color: #fff;
}
.topbanner.demo-banner:after {
	display: none
}

.campaign-1 {

	.topbanner {
		background: url(/dist/images/banners/1/topbanner.png) center top no-repeat ;
	}
	.bg-banner {
		background: url(/dist/images/banners/1/banner-sm.jpg) center top no-repeat ;
		@include media-breakpoint-only(xl) {
			background-image: url(/dist/images/banners/1/banner.jpg);
		}
	}

}
.campaign-2  {
	.topbanner {
		background: url(/dist/images/banners/2/topbanner.png) center top no-repeat ;
	}
	.bg-banner {
		background: url(/dist/images/banners/2/banner-sm.jpg) center top no-repeat ;
		@include media-breakpoint-only(xl) {
			background-image: url(/dist/images/banners/2/banner.jpg);
		}
	}
}
.campaign-3  {
	.topbanner {
		background: url(/dist/images/banners/3/topbanner.png) center top no-repeat ;
	}
	.bg-banner {
		background: url(/dist/images/banners/3/banner-sm.jpg) center top no-repeat ;
		@include media-breakpoint-only(xl) {
			background-image: url(/dist/images/banners/3/banner.jpg);
		}
	}
}
.campaign-4  {
	.topbanner {
		background: url(/dist/images/banners/4/topbanner.png) center top no-repeat ;
	}
	.bg-banner {
		background: url(/dist/images/banners/4/banner-sm.jpg) center top no-repeat ;
		@include media-breakpoint-only(xl) {
			background-image: url(/dist/images/banners/4/banner.jpg);
		}
	}
}

.hidden-menu {
    background-color: #eee;
    width: 300px;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 1rem;
    left: 0;
    transition: all .2s ease;
    z-index: 2000;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.hidden-menu.show-hidden-menu {
	transform: translateX(0);
}

.demo-trigger {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: #000;
    color: #fff!important;
    z-index: 100;
    opacity: .6;
    transition: opacity .1s ease;
}



/////////////////////////////////////