

@mixin fontFace($family,$src,$style: normal,$weight: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			url('#{$src}.woff') format('woff'), // standards
			url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
			url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

		font-style: $style;
		font-weight: $weight;
	}
}


// Import fonts

/*@include fontFace('swissBlack', '../fonts/swiss_721_black_condensed', 'normal','300');
@include fontFace('SwissBold', '../fonts/swiss_721_bold_condensed', 'normal','300');*/
@include fontFace('b-icons', '../fonts/b-icons', 'normal','300');


// Define font variables

h1, h2, h3, h4, h5, h6 {
  @extend .header-font;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bicon-"]:before, [class*=" icon-"]:before {
  font-family: "b-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bicon-chart-line:before { content: '\e800'; } /* '' */
.bicon-search:before { content: '\e801'; } /* '' */
.bicon-user:before { content: '\e802'; } /* '' */
.bicon-right:before { content: '\e803'; } /* '' */
.bicon-left:before { content: '\e804'; } /* '' */
.bicon-down:before { content: '\e805'; } /* '' */
.bicon-up:before { content: '\e806'; } /* '' */
.bicon-facebook:before { content: '\e807'; } /* '' */
.bicon-twitter:before { content: '\e808'; } /* '' */
.bicon-linkedin:before { content: '\e809'; } /* '' */
.bicon-mail:before { content: '\e80a'; } /* '' */
.bicon-angle-left:before { content: '\e80b'; } /* '' */
.bicon-angle-right:before { content: '\e80c'; } /* '' */
.bicon-angle-up:before { content: '\e80d'; } /* '' */
.bicon-angle-down:before { content: '\e80e'; } /* '' */
.bicon-camera:before { content: '\e80f'; } /* '' */
.bicon-menu:before { content: '\e810'; } /* '' */
.bicon-right-1:before { content: '\e811'; } /* '' */