@mixin fontFace($family,$src, $style: normal, $weight: normal) {
	@font-face {
		font-family: $family;
		/*src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below*/
    src:
      url('#{$src}.woff2') format('woff2'),
      url('#{$src}.woff') format('woff');
		font-style: $style;
		font-weight: $weight;
	}
}


@mixin installFont($family, $src, $style: normal, $weight: normal) {
  @font-face {
    font-family: "#{$family}";
    src: url("#{$src}.eot");
    src: url("#{$src}.eot?#iefix") format("embedded-opentype"),
    url("#{$src}.woff2") format("woff2"),
    url("#{$src}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
    font-stretch: normal;
 }
}

@include installFont('CPHsigns', '../fonts/cph_signs_regular', 'normal','300');
@include installFont('b-icons', '../fonts/b-icons', 'normal','300');

@include installFont('Sanomat Serif', '../fonts/Sanomat Serif Black', 'normal','900');

@include installFont('Guardian Text Egyptian Web', '../fonts/Guardian Text Egyp Web-Black', 'normal', '900');
@include installFont('Guardian Text Egyptian Web', '../fonts/Guardian Text Egyp Web-Bold', 'normal', '700');
@include installFont('Guardian Text Egyptian Web', '../fonts/Guardian Text Egyp Web-Medium', 'normal', '500');
@include installFont('Guardian Text Egyptian Web', '../fonts/Guardian Text Egyp Web-Regular', 'normal', '400');
@include installFont('Guardian Text Egyptian Web', '../fonts/Guardian Text Egyp Web-Regular Italic', 'italic', '400');

@include installFont('Giorgio Sans Web', '../fonts/Giorgio Sans Web-Bold', 'normal','700');
@include installFont('Giorgio Sans Web', '../fonts/Giorgio Sans Web-Medium', 'normal','500');
@include installFont('Giorgio Sans Web', '../fonts/Giorgio Sans Web-Regular', 'normal','400');
@include installFont('Giorgio Sans Web', '../fonts/Giorgio Sans Web-Light', 'normal','300');

@include installFont('Sanomat Sans Web', '../fonts/Sanomat Sans Web-Black', 'normal','900');
@include installFont('Sanomat Sans Web', '../fonts/Sanomat Sans Web-Bold', 'normal','700');
@include installFont('Sanomat Sans Web', '../fonts/Sanomat Sans Web-Medium', 'normal','500');
@include installFont('Sanomat Sans Web', '../fonts/Sanomat Sans Web-Regular', 'normal','400');


// SANOMAT SERIF: 900
.font-s1 {
  font-family: "Sanomat Serif", Georgia, serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; 
}

// SANOMAT SANS: 400 / 500 / 700 / 900
.font-s2 {
  font-family: "Sanomat Sans Web", Helvetica, "Helvetica Neue", arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility; 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// GUARDIAN: 400 / 500 / 700 / 900
.font-g1 {
  font-family: "Guardian Text Egyptian Web", georgia, times, serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

// GIORGIO: 300 / 400 / 500 / 700
.font-g2 {
  font-family: "Giorgio Sans Web", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-rendering: optimizeLegibility; 
  -moz-osx-font-smoothing: grayscale;
}




$font-serif-regular: georgia, times, "times new roman", serif;
$font-sans-alt: 'CPHsigns', 'Montserrat', sans-serif;

$font-teaser-weight: 700;
$font-teaser-lineheight: 1.2;

.font-1,
.header,
.font-header {
  line-height: 1.2;
  @extend .font-s1;
  font-weight: 900;
  font-weight: normal;
}

.font-serif {
  @extend .font-g1;
  font-weight: 400;
}

.font-sans {
  
  
}
.font-sans-alt {
  font-family: $font-sans-alt;
  line-height: 1.2;
}

// Define font variables

h1, h2, h3, h4, h5, h6 {
  @extend .header-font;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bicon-"]:before, [class*=" icon-"]:before {
  font-family: "b-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bicon-angle-left:before { content: '\e800'; } /* '' */
.bicon-angle-right:before { content: '\e801'; } /* '' */
.bicon-angle-up:before { content: '\e802'; } /* '' */
.bicon-angle-down:before { content: '\e803'; } /* '' */
.bicon-right-1:before { content: '\e804'; } /* '' */
.bicon-menu:before { content: '\e805'; } /* '' */
.bicon-chart-line:before { content: '\e806'; } /* '' */
.bicon-twitter:before { content: '\e807'; } /* '' */
.bicon-facebook:before { content: '\e808'; } /* '' */
.bicon-linkedin:before { content: '\e809'; } /* '' */
.bicon-user:before { content: '\e80a'; } /* '' */
.bicon-down:before { content: '\e80b'; } /* '' */
.bicon-left:before { content: '\e80c'; } /* '' */
.bicon-right:before { content: '\e80d'; } /* '' */
.bicon-up:before { content: '\e80e'; } /* '' */
.bicon-search:before { content: '\e80f'; } /* '' */
.bicon-key:before { content: '\e810'; } /* '' */
.bicon-cancel:before { content: '\e811'; } /* '' */
.bicon-home:before { content: '\e812'; } /* '' */
.bicon-clock-alt:before { content: '\e813'; } /* '' */
.bicon-asterisk:before { content: '\e814'; } /* '' */
.bicon-link:before { content: '\e815'; } /* '' */
.bicon-quote:before { content: '\e816'; } /* '' */
.bicon-down-open-big:before { content: '\e817'; } /* '' */
.bicon-up-open-big:before { content: '\e818'; } /* '' */
.bicon-print:before { content: '\e819'; } /* '' */
.bicon-mail:before { content: '\e81a'; } /* '' */
.bicon-ok-circled:before { content: '\e81b'; } /* '' */
.bicon-camera:before { content: '\e81c'; } /* '' */
.bicon-star:before { content: '\e81d'; } /* '' */