.form-embedded-newsletter {
	line-height: normal!important;
	input[type="email"]{
		@extend .font-s2;
		border: 0;
		padding: .15rem .825rem 0;
		background-color: #fff;
		font-size: .9rem;
		box-shadow: 0 2px 2px rgba(0,0,0,.25) inset;
		float: left;
		width: 75%;
		height: 1.7rem;
		&:focus {
			outline: 0;
			background-color: #fff;
			border-color: #ddd;
		}
	}
	.btn {
		border-radius: 0;
		padding: 0;
		float: left;
		width: 25%;
		height: 1.7rem;
		text-align: center;
	}
	.checkbox {
		margin-bottom: 0;
	}

	
}

