.form-embedded-newsletter {
	line-height: normal!important;
	input[type="email"]{
		@extend .font-s2;
		border: 0;
		padding: .15rem .825rem 0;
		background-color: #fff;
		font-size: .9rem;
		box-shadow: 0 2px 2px rgba(0,0,0,.25) inset;
		float: left;
		width: 75%;
		height: 1.7rem;
		&:focus {
			outline: 0;
			box-shadow: 0 0 6px fade-out($col-blue-1, .4), 0 2px 2px rgba(0,0,0,.25) inset;
			background-color: #fff;
			border-color: #ddd;
		}
	}
	.btn {
		border-radius: 0;
		padding: 0;
		float: left;
		width: 25%;
		height: 1.7rem;
		text-align: center;
	}
	.checkbox {
		margin-bottom: 0;
	}	
}

.form-round-oneliner {
	position: relative;

	input[type="email"] {
		border-radius: 30rem 0 0 30rem;
		font-size: 1rem;
		border: 0;
		height: 2rem;
		padding: 0 1rem;
		outline: 0;
		font-size: .8rem;
		width: 60%;
	}
	.btn {
		position: absolute;
		width: 40%;
		right: 0;
		top: 0;
		height: 2rem;
		line-height: 2rem;
		padding: 0 .5rem;
		border-radius: 0 30rem 30rem 0;
		font-size: .8rem;
	}
}

