$headerHeight: 4rem;
$subheaderHeight: 3rem;
$headerButtomHeight: $headerHeight - 1rem;
$headerButtomHeightSM: $headerHeight - 2rem;
$border: .063rem;

/*[class*="sprite-icon"] {
	display: inline-block;
	line-height: 0;
	vertical-align: middle;
	font-style: normal;	
	background: url(/dist/images/sprite.svg) left top no-repeat; 
	width: $spacer;
	height: $spacer;
}
.sprite-icon-menu {
	background-position: 0 0;
}
.sprite-icon-search {
	background-position: 0 0;
}
.sprite-icon-user {
	background-position: 0 0;
}*/

body {
	padding-top: $subheaderHeight;	
}


.tpl-front {
	padding-top: $headerHeight;
}

.site-header {
	.container {
		background-color: transparent;
	} 
}

.header-sticky {
	@extend .font-s2;
	background: $background-color;
	font-size: .8rem;
	font-weight: 500;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $subheaderHeight;
	text-align: center;
	z-index: 9999;
	border-bottom: $border-width solid $border-color;
	 [class*="btn-topmenu"] > i:before {
		transform: scale(1.6);
	}
}
.tpl-front .header-sticky {
	height: $headerHeight;
}

.site-logo {
	@extend .font-s1;
	line-height: 1;

}
.site-logo {
	&:hover, 
	&:focus {
		color: #000;
		text-decoration: none;
	}
}
.site-header-front-desktop {
	.site-logo {
		font-size: 2.5rem;
		line-height: $headerHeight;
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
	[class*="btn-topmenu"] i:before {
			margin-right: .35rem;
	}
}
.site-header-front-mobile {
	.site-logo {
		font-size: 2.5rem;
		line-height: $headerHeight;
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
	[class*="btn-topmenu"] i:before {
			margin-right: .35rem;
	}
}



[class*="tools-menu"] {
	display: inline-block;
	height: $headerHeight;
	position: absolute;
	top: 0;
	margin: 0;
	li {
		// display: inline-block;
		// line-height: ($headerHeight - $border);
	}
}

[class*="btn-topmenu-"] {
	
		padding: .5rem .6rem .5rem;
		margin: .8rem 0 0 0;
		display: inline-block;
		border-radius: .2rem;
		border: transparent solid $border-width;
		color: #222;
		&:hover {
			text-decoration: none;
			background-color: #fff;
			border-color: darken(#ddd, 5%);
			box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06), inset -1px -1px 1px 0 rgba(0,0,0,0.02);
			color: #222;
		}
		&:active {
			border-color: darken(#ddd, 5%);
			box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;

		}
		&:focus{
			color: #000;
			text-decoration: none;
		}
}
.btn-topmenu-login {
	background: $col-blue-1;
	color: #fff;
	border-color: transparent;
	i:before {
		margin-right: .35rem;
		margin-top: .1rem;
	}
	&:hover {
		background: darken($col-blue-1, 5%);
		color: #fff;
		border-color: darken($col-blue-1, 10%);
		box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1), inset -1px -1px 1px 0 rgba(0,0,0,0.09);
	}
	&:active {
		border-color: darken($col-blue-1, 10%);
		box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1) inset;

	}
	&:active, 
	&:focus {
		color: #fff;
	}
}
.tools-menu-left {
	left: .625rem;
}
.tools-menu-right {
	right: .625rem;
}

.header-bottom {
	@extend .font-g1;
	font-size: .95rem;
	height: $headerButtomHeight;
	border-bottom: $border-width solid $border-color;
}
.main-navigation {
	text-align: center;
	ul {
		@extend .list-reset;
		margin-bottom: 0;
	}
	li {
		display: inline-block;
		line-height: $headerButtomHeight;
		margin: 0 .5rem 0 0;
		@extend .font-s2;
		font-weight: 500;
		
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		display: block;
		padding: 0 .4rem;
		&:hover {
			text-decoration: none;	
			color: $col-blue-1;
		}
	}
	.active a {
		color: $col-blue-1;
	}
}
.page-title {
	font-size: 2rem;
	color: $col-blue-1;
	@extend .font-sans-alt;
	line-height: $subheaderHeight;
	text-transform: uppercase;
	&:hover {
		color: darken($col-blue-1, 5%);
		text-decoration: none;
	}
}
.site-header-sub-desktop {
	.left-side {
		position: absolute;
		left: 0;
	}

	[class*="btn-topmenu"] {
		padding: .5rem .8rem .4rem;
		margin: .45rem 0 0 0;
	}
	
	.site-logo {
		font-size: 2rem;
		line-height: $subheaderHeight;
		
		margin-right: $spacer;
		margin-left: $spacer;
	}
	.tools-menu-left {
		position: relative;
		float: left;
	}
	.header-sticky {
		height: $subheaderHeight;
		ul {
			height: $subheaderHeight;
		}
	}
}

[class*="tools-menu"] {
	display: inline-block;
	height: $headerHeight;
	position: absolute;
	top: 0;
	margin: 0;
	&> li {
		display: inline-block;
	}
}

[class*="header-marketing"] {
	border-bottom: $border-width solid $border-color;
	text-align: left;
	line-height: 1.2rem;
	padding: .5rem 0 .4rem;
	overflow: hidden;
	@extend .font-s2;
	font-size: .75rem;
	
	.gray {
		color: #999;
	}
	a {
		color: #444;
		display: inline-block;
		position: relative;
		padding-left: 40px;
		&:before {
			width: 35px;
			height: 30px;
			content: '';
			background: url(/dist/images/packshot.png) center center no-repeat;
			background-size: 35px;
			position: absolute;
			left: 0px;
			top: -5px;
			display: inline-block;

		}
		&:hover {
			color: #000;
		}

	}
	strong {
		font-weight: 500;
	}
}
.header-marketing {
	display: none
}

.header-marketing-2 {
	/*display: none;*/
}
.site-business .logo-business {
	@extend .font-s1;
	text-transform: none;
	padding-top: .3rem;
	display: inline-block;
}
.site-business {
	.page-title,
	.main-navigation .active a,
	.main-navigation a:hover,
	.logo-business {
		color: #a41147;
	}
	.btn-topmenu-login {
		background-color: #a41147;
		color: #fff;
	}
}

.mobile-user-nav {
	font-size: .7rem;
	float: right;
	display: inline-block;
	position: relative;
	z-index: 100;
	li {
		float: left;
		margin: 0;
		padding: 0;
	}
	a {
		white-space: nowrap;
	}
}

.no-scale {
	i:before {
		transform: none!important;
	}
}

ul .mobile-section-title {
	@extend .font-sans-alt;
	text-transform: uppercase;
	font-size: 1.5rem;
	a {
		color: $col-blue-1!important;
		text-decoration: none;
	}
}

.user-menu-container {
	border: $border-width solid $border-color;
	background-color: #fff;
	width: 16rem;
	padding: .625rem;
	box-shadow: 0 0 .5rem rgba(0,0,0,.2);
	position: absolute;
	top: .4rem;
	right: 0;
	font-size: .8rem;
	opacity: 0;
	transition: transform, opacity;
	transition-duration: .2s;
	transform-origin: top right;
	transform: scale(0);

	.toggle-user-menu {
		color: #999;
		font-size: 1rem;
		position: absolute;
		top: 0rem;
		right: .6rem;
		font-size: .7rem;
	}
}

.show-usermenu {
	.user-menu-container {
		opacity: 1;
		transform: scale(1);
	}
}
.list-user-menu {
	padding-left: 0;
	li {
		display: block;
		float: none;
		text-align: left;
		line-height: initial;
		&:first-child {
			padding: 0 0 .4rem .4rem;
			border-bottom: $border-width solid $border-color;
		}
	}

	a:not(.btn) {
		display: block;
		color: #999;
	
		padding: .4rem;
		&:hover {
			
			background-color: lighten(#eee, 5%);
			color: $col-blue-1;
			text-decoration: none;
		}
	}
	
}

@include media-breakpoint-up(md) {
	.site-header-sub .tools-menu-left {
		position: relative;
	}
	.main-navigation .mobile-section-title {
		display: none;

	}
}
@include media-breakpoint-down(sm) {

	.site-header-mobile {
		.site-logo {
			font-size: 2rem;
			line-height: $subheaderHeight;
		}
	}
	.tpl-front {
		padding-top: $subheaderHeight;
		.section-nav {
			display: none;
		}
		.main-navigation {
			text-align: center;
		}
		.mobile-user-nav {
			float: none;
		}
	}
	.site-header-sub .tools-menu-left {
		position: absolute;
	}
	[class*="tools-menu"],
	.tpl-front .header-sticky,
	.header-sticky,
	.header-sticky ul {
		height: $subheaderHeight;
	}
	[class*="btn-topmenu"] {
		padding: .5rem .8rem .4rem;
		margin: .45rem 0 0 0;
	}

	.site-header-front-desktop .site-logo {
		font-size: 2rem;
		line-height: 3rem;
	}
	.header-bottom {
		height: $headerButtomHeightSM;
		
	}
	.main-navigation {
		text-align: left;
		> ul > li {
			line-height: $headerButtomHeightSM;
		}
		&> ul:first-child {
			position: absolute;
			z-index: 99;
			left: .625rem;
			right: 0;
			a {
				padding-left: 0;
			}
		}
		
		ul:first-child li {
			margin: 0;
			&:not(:first-child) {
				display: none;
			}
			a {
				color: #333;
			}
		}
		ul.show-submenu li:not(:first-child) {
			display: block!important;
			background: #000;
			width: 100%;
			a {
				color: #fff;
				border-bottom: $border-width solid rgba(255,255,255,.5);
			}
		}
	}
}
