/* This css is made to increase the font sizes on iPad because of stupid viewport hack on tablets  */

@include media-breakpoint-up(lg) {
	.col-1-content {
		width: calc(100% - 320px);
		float: left;
		min-height: 1px;
	}
}


@include media-breakpoint-only(md) {
	.col-1-content {
		width: 90%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		min-height: 1px;
	}

	// wider fact boxes
	.article-embed-pull-right {
		width: 20rem;
	}

	// turn up the font sizes:
	.article-title {
		font-size: 3rem;
	}
	.article-summary {
		font-size: 1.5rem;
	}
	.embed-content li, 
	.embed-content p {
		font-size: 1.3rem;
	}
	.article-body {
		font-size: 1.4rem;
		&> p {		
			font-size: 1.4rem;
			line-height: 1.5;
		}
		&>h2 {
			font-weight: 700;
			font-size: 1.5rem
		}
	}
}

