
.list {
	@extend .font-s2;
	li {
		@extend .clearfix;
		font-weight: 500;
		line-height: 1.1;
	}
	.trumpet {
		font-weight: 700;
		text-transform: uppercase;
		color: $col-blue-1;
	}
	a:hover {
		color: rgba(0,0,0,.7);
		text-decoration: none;
	}
	.subscriber-notice {
		font-size: .7rem;
		vertical-align: middle;
	}
}

.list-unstyled {
	padding: 0;
	list-style: none;
}
.list-comments {
	@extend .font-s2;
	color: rgba(0,0,0,.5);
	font-size: 80%;
	white-space: pre;
	font-weight: 400;
	vertical-align: middle;
	i {
		color: #aaa;
	}

}
.list-arrow {
	li {
		padding-left: .625rem;
		&:before {
			content: '\e801';
			font-family: b-icons;
			color: $col-blue-1;
			float: left;
			margin-left: -.625rem;
			margin-top: -.1rem;
		}
	}
}
.list-bullet-sm {
	margin-bottom: 0;
	li {
		padding-left: $spacer;
		&:before {
			display: inline-block;
			
			width: .2rem;
			height: .2rem;
			border-radius: 50%;
			content: '';
			background-color: #ccc;
			vertical-align: middle;
		}
	}
}
.list-bullet {
	padding: 0;
	list-style: none;
	li {
		padding-left: .625rem;
		position: relative;
		&:before {
			margin-top: .0rem;
			/*border-radius: 50%;*/
			float: left;
			content: '';
			left: 0;
			
			position: absolute;
			top: .313rem;
			width: .313rem; 
			height: .313rem;
			border-radius: 50%;
			background-color: $col-blue-1;
		
		}
	}
}
ul + .list-fade {
	margin-top: -.8rem;
}
.list-fade,
.list-footer {
	@extend .toggle-loadmore-fade;
	
	height: 1rem;
	z-index: 2;

	button, a {
		margin-top: 0;
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-round;
		@extend .btn-gray;
		background: #ddd;
		&:hover {
			background-color: darken(#ddd, 5%);
		}
	}
	
}
.list-news {
	li {
		margin-bottom: $spacer;
		font-size: .95rem;
		border-bottom: $border-width solid $border-color;
		margin-bottom:  .425rem;
		padding-bottom: .425rem;
	}

}
.list-font-2 {
	li {
		font-size: .95rem;
	}
}
.list-inline-block {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding: 0;
		display: inline-block;
		margin-bottom: .4rem;
	}
}
.list-time {
	.list-body {
		padding-left: 2.5rem;
	}
	time {
		font-size: .8rem;
		font-weight: 500;

		padding-top: .05rem;
		@extend .font-s2;
		display: block;
		float: left;
		margin-left: -2.5rem;
		color: rgba(0,0,0,.5);
		
	}
}


.list-img-right {
	figure {
		float:right;
		margin: 0 0 0 .625rem;
		width: 3.75rem;
	}
	li:last-child {
		border-bottom: 0;
	}
}

.list-top {
	counter-reset: counter;
	.list-body {
		padding-left: 30px;
		&:before {
			margin-left: -30px;
			float: left;
			width: $spacer * 1.2;
			height: $spacer * 1.2;
			line-height: $spacer * 1.2;
			border-radius: 50%;
			background-color: #333;
			color: #fff;
			font-size: 13px;
			text-align: center;
			display: inline-block;
			counter-increment: counter;
			content: counter(counter);
		}
	}	
}
.list-top-lg {
	counter-reset: counter;
	.list-body {
		padding-left: 2.8rem;
		&:before {
			margin-left: -2.8rem;
			float: left;
			width: 2.8rem;
			line-height: 1;
			border-radius: 50%;
			color: #999;
			font-size: 2rem;
			text-align: left;
			display: inline-block;
			counter-increment: counter;
			content: counter(counter) '.';
			@extend .font-g1;
			font-weight: 300;
			letter-spacing: -.1rem
		}
	}	
}



.list-bullet-not-first {
	li:first-child:before {
		content: none;
	}
}

.widget-header {
	text-transform: uppercase;
	border-bottom: $border-width solid $border-color;

}
.list-live-stream {
	list-style: none;
	font-size: .6rem;
	padding-left: 1.2rem;
	h2 {
		font-weight: normal;
		line-height: 1.2;
	}
	time {
		color: $col-live;
		display: block;
		&:before {
			content: '\e815';
			font-family: b-icons;
			float: left;
			margin-left: -1.2rem;	
		}
	}
}
.widget {
	footer {
		text-align: right;
	}
}
.live-stream {
	background-color: orange;
	padding: 1rem;
}

.icon-premium {

	@extend .bicon-key;
}
.list-item-video {
	figure{
		&:after {
			width: 2rem;
			height: 2rem;
			content: '';
		}

	}
}
.small-title-left {
	.section-title {
		font-size: 1rem;
		padding: 0;

		&:before {
			display: none;
		}

	}
	
}
.list-author {
	display: block;
	@extend .font-s2;
	color: $col-blue-1;
	font-size: .8rem;
}
.list-blog {
	figure {
		/*max-width: 40px;*/
	}
	img {
		filter: grayscale(100%);;
		border-radius: 50%;

	}
}
.list-footer {
	@extend .text-center;
}
@include media-breakpoint-up(md) {
	.small-title-left {
		.section-title {
			position: absolute;
			left: 0;
			right: 0;
			max-width: ($col-1-width / 2);
			font-size: 1rem;
			
			padding: 0;

			

		}
		ul {
			padding-left: ($col-1-width / 2)!important;
		}
	}
}

.border-first-item {
	li:first-child {
		border-top: $border-width solid $border-color;
		padding-top: .425rem!important;
		margin-top: .425rem;
	}	
}
.no-border-last-item {
	li:last-child {
		border-bottom: 0;
	}	
}

.partner-logo {
	background-size: contain;
	height: 1rem;
	background-repeat: no-repeat;
}

@include media-breakpoint-down(sm) {
	.teaser-sm-start-large-items:nth-child(-n+3) {
		width: 100%;
			article {
				padding-bottom: $spacer;
				border-bottom: $border-width solid $border-color;	
				
				
			}
		.header {
			font-size: 1.2rem;
		}
	}
	.list {
		.subscriber-notice {
			font-size: .6rem;
		}
	}
}