@charset "UTF-8";
// @import url(https://fonts.googleapis.com/css?family=Playfair+Display:700|Coda|PT+Serif:400,700);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700|PT+Serif:400,700|Montserrat:400,700);

$font-serif: 'Playfair Display', serif;
$font-sans: 'Montserrat', sans-serif;
$font-teaser: 'Playfair Display', serif;
$font-teaser-weight: 700;
$font-teaser-lineheight: 1.2;
$background-color: rgba(248,248,248,1);

@import "bootstrap/bootstrap";
@import "_variables";
@import "fonts";
@import "header";
@import "teasers";
@import "buttons";
@import "demo";

@import "tools";


html, body {
	height: 100%;
	@extend .font-sans;
}


body {
	background: $background-color;
}
.site-wrapper {
	position: relative;
}
.bg-banner {
	@extend .absolute;
	bottom: 0;
	height: 100%;
	background: url(/dist/images/banners/banner-sm.jpg) center top no-repeat ;
	@include media-breakpoint-only(xl) {
		background-image: url(/dist/images/banners/banner.jpg);
	}
}
.container {
	background-color: $background-color;
	position: relative;

}
.main-content {
	padding-top: .625rem;
	border-top: .35rem #333 solid;
	
}



ul.list-reset {
	margin: 0;
	padding-left: 0;
	list-style: none;
	li {
		padding-left: 0;
	}
}



.well-container + .row > .col-primary {
	margin-top: -5rem;
	min-height: 400px;
	z-index: 100;
	padding-top: 1.2rem;
	padding-right: 1.2rem;
	position: relative;
	&:after {
		position: absolute;
		left: .625rem;
		right: 0;
		top: 0;
		bottom: 0;
		background: $background-color;
		content: '';
		z-index: -1;
	}
}

.weather-of-the-day {
	margin-top: $spacer * 2;
	font-size: .8rem;
	@extend .font-sans;
	line-height: 1.4;
	a {
		
		font-size: 80%;
		display: block;
	}
}
[class*="weather-icon-"] {
	background: url(/dist/images/icons-weather.png) left top no-repeat;
	padding-left: 40px;
	height: 34px;
	line-height: 34px;
	display: block;	
	color: #666;
}
.weather-icon-2 {
	background-position: 0 -34px;
}
.weather-icon-3 {
	background-position: 0 -68px;
}
.weather-icon-4 {
	background-position: 0 -102px;
}


.deck {
	margin-bottom: $spacer * 2;
	@extend .clearfix;
}
.section-title {
	text-transform: uppercase;
	@extend .font-sans;
	font-weight: 700;
	margin-bottom: $spacer;
	font-size: .9rem;
	color: #333;
	line-height: 1.2;
	display: block;
	letter-spacing: .0rem;
	margin-top: $spacer;
	@extend .top-block;
	/*transform: rotate(-90deg);
	transform-origin: right top 0;*/
	
	top: 0;

}
.section-link, 
.section-date {
	@extend .font-sans;
	display: block;
	font-weight: 700;
	font-size: .8rem;
	line-height: 1;
	padding: .3rem 0;
	a {
		
		@extend .link-blue;
		display: block;
	}
}
.section-date {
	color: #999;
	font-weight: normal; 
	
	line-height: 1.4;
	padding-top: 0;
	
	strong {
		display: block;
		// font-size: 1.7rem;
		// font-weight: normal;
		color: #444;
	}
}

.col-primary {
	width: calc(100% - 320px);
}
.sidebar {
	// padding-top: $spacer;
	width: 300px;
}
.list-title {
	@extend .font-sans;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-top: $spacer;
	margin-bottom: $spacer;
	@extend .top-block;
}

.top-block {
	position: relative;
	&:before {
		display: inline-block;
		width: 2rem;
		content: '';
		height: .35rem;
		position: absolute;
		top: -$spacer;
		background-color: #222;
	}
}
.list-news {
	@extend .font-sans;
	li {
		margin-bottom: $spacer;
		font-size: .95rem;
	}
}

$col-deck-label-width: 160px;

.col-deck-label {
	width: $col-deck-label-width;
	float: left;
	position: relative;
	@extend .hidden-md-down;
	padding-right: .625rem;
	padding-left: .625rem;
}
.col-deck-content {
	width: calc(100% - 160px);
	@include media-breakpoint-down(md) {
		width: 100%;
	}
	float: left;
}
