.marketing-embedded {
	background-color: transparent;
	text-align: center;
	padding: 0;
	@extend .font-s2;
	h1 {
		@extend .font-s1;
		font-size: 1rem;
		@extend .mb-05;
	}
	.packshot {
		padding-top: 2rem;
		background: url(/dist/images/packshot.jpg) center top no-repeat;
		background-size: 50px;
	}
}

.banner-disclaimer {
	font-size: .65rem;
	@extend .font-s2;
	font-weight: 500;
	color: rgba(0,0,0,.5);
}
