


.offcanvas-menu {
	text-align: left;
	background-color: $background-color;
	padding: 0;
	position: relative;
	display: none;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-font-smoothing: subpixel-antialiased;
	transition: transform .2s ease-out;
	z-index: 28;
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
	padding-bottom: 2rem;
	text-decoration: none!important

}

.page-title,
.site-logo,
[class*="tools-menu"] a {
	transition: opacity .2s ease;
	-webkit-backface-visibility: hidden;
}

.show-offcanvas {	
	height: 100%;
	overflow: hidden;
	.offcanvas-menu {
		display: block;
	}
	.page-title,
	.site-logo,
	[class*="tools-menu"] a:not(.toggle-offcanvas) {
		opacity: .2;
	}
	.toggle-offcanvas i:before {
		content: '\e80f';
		transform: scale(1);
	}
}


.close-offcanvas {
	display: none;
	background-color: rgba(255,255,255,.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	transform: opacity .2s ease;
}

.offcanvas-top {
	height: $subheaderHeight;
	border-bottom: $border-width solid $border-color;
	text-align: right;
	.btn-circle {
		margin: .45rem .625rem 0 0;
		border-color: rgba(0,0,0,.1);
		font-size: .8rem;
	}
}

.sitemap {
	@extend .font-g1;
	ul {
		list-style: none;
		padding: 0;
	}
	a {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:hover{
			text-decoration: none;
		}
	}
}

.sitemap-parent {
	margin: 0;
	> li {
		display: block;
		clear: both;
		margin-right: 0;
		overflow: hidden;
		position: relative;
		box-shadow: inset 0 $border-width $border-color;
		min-height: 2.25rem;
		padding-left: 12rem;
		&:last-child {
			border-bottom: $border-width solid $border-color;
		}
	}
}
.sitemap-parent-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	@extend .font-sans-alt;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #222;
	font-weight: normal;
	line-height: 2.25rem;
	width: 12rem;
}

.sitemap-child {
	float: left;
	margin: 0;	
	@extend .clearfix;
	> li {
		font-weight: 400;
		float: left;
		display: inline-block;
		padding: .5875rem .625rem .1875rem;
		min-height: 2.25rem;
		overflow: hidden;
		font-size: .9rem;
	}
}


.sitemap-small	{

	font-size: .7rem;
	li {
		display: inline-block;
		&+li {
			margin-left: .3rem;
			a:before {
				content: '-';
				padding-right: .4rem;
			}

		}
	}
	a {
		color: #999;
		&:hover {
			color: $col-blue-1;
		}
	}
}
@include media-breakpoint-up(xl) {
	.sitemap-parent {
		> li {
			padding-left: 12rem;
		}
	}
	.sitemap-parent-link {
		width: 12rem;
	}
}


@include media-breakpoint-down(md) {
	.offcanvas-menu {
		
	}
	
}
@include media-breakpoint-down(sm) {
	.sitemap-parent {
		> li {
			padding-left: 0;
			min-height: initial;
			margin-top: .625rem;
			&:first-child {
				box-shadow: none;
				margin-top: 0;
			}
		}
	}
	.sitemap-parent-link {
		width: 100%;
		position: relative;
		line-height: 1.3;
		margin-top: .2rem;
	}
	.sitemap-child {
		width: 100%;
		margin-top: .3125;
		li {
			padding: 0 .625rem 0 0;
			width: 50%;
			min-height: initial;
			font-size: .8rem;
			a {
				padding: .2rem 0;
			}
		}
	}
	.offcanvas-menu {
		padding-bottom: 10rem;
	}
	.show-offcanvas {	
		.offcanvas-menu {
			display: block;
			height: 500px;
		}
	}
	
}

