$menu-width-lg: 36rem;
$menu-width-md: 24rem;
$menu-width-sm: 18rem;


.offcanvas-menu {
	position: fixed;
	padding: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	width: $menu-width-lg;
	background-color: $background-color;
	z-index: 99999;
	overflow-x: hidden;
	overflow-y: scroll;
	transform: translate3d(-$menu-width-lg,0,0);	
	-webkit-backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	transition: all .2s ease-in;
	background-color: $background-color;
}
.main-wrapper {
	// transition: all .3s ease-out;
}

.show-offcanvas {

	.close-offcanvas {
		// display: block;
	}
	.main-wrapper {
		/*transform: translate3d(18rem,0,0);
		overflow-x: hidden;
		overflow-y: scroll;*/
	}
	.offcanvas-menu {
		
		transform: translate3d(0,0,0);
		
	}
}

.close-offcanvas {
	display: none;
	background-color: rgba(255,255,255,.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	transform: opacity .2s ease;
}

.offcanvas-top {
	height: $subheaderHeight;
	border-bottom: $border-width solid $border-color;
	text-align: right;
	.btn-circle {
		margin: .45rem .625rem 0 0;
		border-color: rgba(0,0,0,.1);
		font-size: .8rem;
	}
}

.sitemap {
	@extend .font-g1;
	ul {
		list-style: none;
		padding: 0;
	}
	> ul {
		margin: 0;	
	}
	li {
		font-size: .9rem;
		line-height: 2.2;
	}
	a {
		line-height: 2.2;
		padding: 0 .625rem;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:hover{
			text-decoration: none;
		}
	}
}

.sitemap-parent {
	&> li {
		clear: left;
		display: block;
		margin-bottom: $spacer;
		
		> a {
			font-weight: normal;
			@extend .font-sans-alt;		
			padding: .625rem .625rem .325rem .625rem;
			display: block;
			border-top: 1px solid #ddd;
			font-size: 1.4rem;
			text-transform: uppercase;
			color: $col-blue-1;
			&:after {
				content: '\e801';
				font-family: b-icons;
				display: inline-block;
				color: #999;
				font-weight: normal!important;
				margin-left: .3rem;

			}
		}
	}
}

.sitemap-child {
	
	@extend .clearfix;
	> li {
		font-weight: 400;
		float: left;
		display: inline-block;
	}
}

@include media-breakpoint-up(lg) {
	.sitemap-child {
		> li {
			width: 33.333333%;
		}
	}
}
@include media-breakpoint-down(md) {
	.offcanvas-menu {
		
	}
	.sitemap-child {
		> li {
			width: 50%;
		}
	}
}
@include media-breakpoint-down(sm) {
	.offcanvas-menu {
		/*width: $menu-width-sm;
		transform: translate3d(-$menu-width-sm,0,0);*/
	}
	.sitemap-child {
		> li {
			width: 50%;
		}
	}
}

