


.offcanvas-menu {
	text-align: left;
	background-color: $background-color;
    padding: 0;
    position: relative;
    display: none;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /*-webkit-overflow-scroll: touch;*/
    -webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-font-smoothing: subpixel-antialiased;
    /*border-top: $border-width solid $border-color;*/
    /*transform: translateY(-100%);*/
    transition: transform .2s ease-out;
    z-index: 28;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

.show-offcanvas {	
	.offcanvas-menu {
		display: block;
		/*transform: translateY(0);*/
	}
}

.close-offcanvas {
	display: none;
	background-color: rgba(255,255,255,.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	transform: opacity .2s ease;
}

.offcanvas-top {
	height: $subheaderHeight;
	border-bottom: $border-width solid $border-color;
	text-align: right;
	.btn-circle {
		margin: .45rem .625rem 0 0;
		border-color: rgba(0,0,0,.1);
		font-size: .8rem;
	}
}

.sitemap {
	@extend .font-g1;
	ul {
		list-style: none;
		padding: 0;
	}
	a {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:hover{
			text-decoration: none;
		}
	}
}

.sitemap-parent {
	margin: 0;
	> li {
		display: block;
		clear: both;
		margin-right: 0;
		overflow: hidden;
		position: relative;
		box-shadow: inset 0 $border-width $border-color;
		min-height: 2.25rem;
		padding-left: 10rem;
		&:last-child {
			border-bottom: $border-width solid $border-color;
		}
	}
}
.sitemap-parent-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	@extend .font-sans-alt;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: $col-blue-1;
	font-weight: normal;
	line-height: 2.25rem;
	width: 10rem;
}

.sitemap-child {
	float: left;
	margin: 0;	
	@extend .clearfix;
	> li {
		font-weight: 400;
		float: left;
		display: inline-block;
		padding-bottom: 0.1875rem;
		padding-left: 0.625rem;
		min-height: 2.25rem;
		padding-top: 0.5875rem;
		overflow: hidden;
		font-size: .9rem;
	}
}


.sitemap-small	{

	font-size: .7rem;
	li {
		display: inline-block;
		&+li {
			margin-left: .4rem;
		}
	}
	a {
		color: #999;
	}
}
@include media-breakpoint-up(xl) {
	.sitemap-parent {
		> li {
			padding-left: 15rem;
		}
	}
	.sitemap-parent-link {
		width: 15rem;
	}
}


@include media-breakpoint-down(md) {
	.offcanvas-menu {
		
	}
	
}
@include media-breakpoint-down(sm) {
	.sitemap-parent {
		> li {
			padding-left: 0;
		}
	}
	.sitemap-parent-link {
		width: 100%;
		position: relative;
	}
	.sitemap-child {
		width: 100%;
		li {
			padding: 0 .625rem 0 0;
			width: 50%;
		}
	}
	.offcanvas-menu {
		padding-bottom: 2rem;
	}
	
}

