.toggle-offcanvas {
	position: relative;
	padding-left: 0px;
}
.icon-menu {
	position: absolute;
	left: 7px;
	right: auto;
	top: 50%;
	background: #444;
	height: 2px;
	width: 20px;	
	margin: -2px 0 0 0;
	transition: background .3s,color .2s;
	transform: none;
	
	z-index: 33;
	&:before, 
	&:after {
		content: '';
		transform-origin: center center;
		transition: transform .3s,background .3s;
		background: #444;
		height: 2px;
		width: 20px;
	}
	&:before {
		position: absolute;
		top: -6px;
		left: 0px;
	}
	&:after {
		position: absolute;
		bottom: -6px;
		left: 0px;
	}
}

.show-offcanvas {
	.icon-menu{
		background-color: transparent;
		&:before {
			transform: translateY(6px) rotate(-45deg);
		}
		&:after {
			transform: translateY(-6px) rotate(45deg);
		}

	}
}