.paywall {
	font-size: 1.1rem;
	h2 {
		font-size: 2rem;
		@extend .font-g1;
		
		margin: 0;
		&+ p {
			font-size: 1rem;
		}
	}
	button.btn {
		@extend .btn-blue;
	}
	.img {
		 max-width: 16rem;
	}

	@include media-breakpoint-only(md) {
		.img {
			 max-width: 16rem;
		}
	}

	@include media-breakpoint-down(sm) {
		font-size: .9rem;
		

		h2 {
			font-size: 1.5rem;
			&+ p {
				font-size: .8rem;
			}
		}
		.img {
			 max-width: 6rem;
		}
	}
	
}

.paywall-soft {
	.img {
		margin-left: auto;
		margin-right: auto;
	}
	@include media-breakpoint-down(sm) {
		.img {
			 max-width: 14rem;
		}
	}
}
.fade {
	&:after {
		background: radial-gradient(ellipse 50% 10px at 50% 100%,fade-out(darken($background-color, 20%),.0) 0,fade-out(#dfdfdf,1) 110%);
    	height: 2.5rem;
    	content: '';
    	z-index: 2;
    	display: block;
	}
	
}

.paywall-fade {
	position: relative;
	margin-top: -2rem;
	background-color: darken($background-color, 4%);
	padding: 1rem;
	border-radius: .2rem;
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
	&:before {
		position: absolute;
		content: '';
		z-index: 2;
		left: 0;
		right: 0;
		top: -10rem;
		height: 10rem;
		@include gradient-vertical($start-color: fade-out($background-color, 1), $end-color: fade-out($background-color, 0), $start-percent: 0%, $end-percent: 100%);
	}
}