.paywall-ver-1 {
	background-color: darken($background-color, 5%);
}

.btn-close-paywall-overlay {
	position: absolute;
	top: 0;
	right: 0;
	@extend .font-s2;
	line-height: 2rem;
	color: #999;
	font-size: .7rem;
	text-align: center;
	background-color: $background-color;
	&:before {
		content: 'LUK';
		padding-right: .2rem;
		font-weight: 500;
		line-height: 2rem;
		font-size: .7rem;
		float: left;
	}
}

.paywall {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 1.5rem;
	z-index: 15;
	background-color: $background-color;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		left: 0rem;
		right: 0rem;
		top: -1rem;
		height: 1rem;
		background: radial-gradient(ellipse 50% 10px at 50% 100%,rgba(0,0,0,.15) 0,rgba(0,0,0,.0) 110%);
		z-index: -1;
	}

	h2 {
		font-size: 2.5rem;
		@extend .font-s1;
		position: relative;
	}
	p:not(.small) {
		font-size: 1.1rem;
		font-weight: 300;
		line-height: 1.5;
		color: #333;
	}
	
	
	.img {
		 max-width: 16rem;
	}

	@include media-breakpoint-down(sm) {
		h2 {
			font-size: 1.2rem;
		}
		p {
			font-size: .8rem;
		}
	}	
}


.paywall-soft {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}


.article-cutoff {
	position: relative;
	.article-body {
		max-height: 30rem;	
		overflow: hidden;
	}
	&:before {
		position: absolute;
		content: '';
		left: -.2rem;
		right: -.2rem;
		bottom: 0rem;
		height: 30rem;
		// @include gradient-vertical($start-color: fade-out($background-color, 1), $end-color: fade-out($background-color, .1), $start-percent: 0%, $end-percent: 50%);
		//@include gradient-vertical( fade-out($background-color,1), $background-color, $start-percent: 0%, $end-percent: 100%);
		@include gradient-vertical( fade-out($background-color,.9), $background-color, 0%, 50%);
		z-index: 10;
	}
}

.marketing-soft-paywall {
	padding: 1rem 0 0 0;
	position: relative;
	
}
$earth: 2.5rem;
.earth {
	// margin-top: .225rem;
	margin: -.3rem .4rem 0;
	vertical-align: middle;
	width: $earth;
	height: $earth;
	border-radius: 50%;
	position: relative;
	z-index: 2;
	display: inline-block;
	background: url(/dist/images/earth.png) left top repeat-x darken($background-color, 0%);
	background-size:  (2 * $earth);
	animation: earth-big 5s linear infinite;
	// box-shadow: -25px 0 15px 0 rgba(0,0,0,.1) inset, -10px 0 15px 0 rgba(0,0,0,.1) inset, 10px 0 15px 0 $background-color inset, 0 0 .6rem  rgba(0,0,0,.2); 
	box-shadow: 0 0 1rem  rgba(0,0,0,.15); 
}

@keyframes earth-big {
	from {
		background-position: -(2 * $earth) 0;
	}
	to {
		background-position: 0 0;
	}
}


@include media-breakpoint-only(xl) {
	.paywall-hard {
		margin-left: -8rem;
		margin-right: -8rem;
	}
}
@include media-breakpoint-down(lg) {
	.paywall {
		
		h2 {
			font-size: 1.8rem;
		}
	}
}

@include media-breakpoint-down(sm) {
	.paywall {
		
		h2 {
			font-size: 2rem;
		}
		p:not(.small) {
			font-size: .75rem;
		}
	}
}