[class*="teaser--label"] {
	display: inline-block;
	@extend .font-s2;
	font-weight: 500;
	text-transform: uppercase;
	.bicon-record:before {
		@extend .animate-live;
		padding: 0 .1rem;
	}
}

.teaser-img {
	[class*="teaser--label"] {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		opacity: 1!important;
		padding: .425rem 0.625rem 0.425rem;
		font-size: 1rem;
	}
	.teaser--label-red {
		background-color: $col-live;
		color: #fff;
	}
}
.teaser--label-yellow {
	background-color: $col-breaking;
	color: #000;
}
.teaser--label-red {
	background-color: transparent;
	color: $col-live;
}

.teaser--xlarge {
	.teaser--label-breaking {
		font-size: 1.5rem;
		text-transform: uppercase;
	}	
}

 .related--large {
	[class*="teaser--label"] {
		font-size: .9rem;
		padding: 0 .3rem 0 0;
	}
}
.related--xsmall {
	[class*="teaser--label"] {
		font-size: .9rem;
		padding: 0 .3rem 0 0;
	}
}

.teaser-summary {
	[class*="teaser--label"] {
		// margin-top: -.1rem;
	}
}