.teaser-label-yellow {
	background-color: $col-breaking;
	color: #000;
}
.teaser-label-red {
	background-color: $col-live;
	color: #fff;
}

.teaser-label-live {
	background-color: transparent;
	color: $col-live;
}
.teaser-label-blue {
	background-color: $col-blue-1;
	color: #fff;
}


[class*="teaser-label"] {
	display: inline-block;
	@extend .font-s2;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;

	.bicon-record:before {
		@extend .animate-live;
		padding: 0 .1rem;
	}
}

.teaser-img {
	[class*="teaser-label"] {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		opacity: 1!important;
		padding: .425rem 0.625rem 0.425rem;
		font-size: 1.4rem;
	}
	.teaser-label-red,
	.teaser-label-live {
		background-color: $col-live;
		color: #fff;
	}
}

.teaser-xsmall .teaser-img {
	[class*="teaser-label"] {
		padding: .225rem 0.3125rem 0.225rem;
		font-size: 1.1rem;
	}
}

.header-related,
.related-summary {
	[class*="teaser-label"] {
		font-size: .7rem;
		padding: 3px .3rem 3px;
		vertical-align: middle;
		
	}
	.teaser-label-live {
		font-size: .9rem;
	}
}

.related-summary {
	[class*="teaser-label"] {
		margin-top: -1px;
	}
}

.teaser-small {
	[class*="teaser-label"] {
		font-size: 1rem;
	}	
}
.teaser-theme-giant  {
	.teaser {
		[class*="teaser-label"] {
			font-size: 2rem;
			padding: 8px 1rem 4px ;
			line-height: 1;
		}
		.teaser-label-live {
			padding-left: 0;
		}
	}	
}
.teaser-theme-xtragiant {
	.teaser-body {
		& > [class*="teaser-label"] {
			display: inline-block;
			font-weight: 500;
			text-transform: uppercase;
			line-height: 1;
			display: block;
			font-size: 2rem;
			margin: 0 0 1rem;
			padding: .5rem 0 .4rem;
		}
		& > .teaser-label-live { 
			padding: 0;
			margin: 0 0 .5rem;	
		}
	}
}
.header-related .teaser-label-live {
	padding-left: 0;
}
.teaser-theme-business .teaser-label-blue {
	background-color: $col-business-dark;
}


@include media-breakpoint-down(lg) {
	.teaser-theme-giant {
		.teaser {
			[class*="teaser-label"] {
				font-size: 1rem;
				padding: 4px .625rem 4px ;
			}
			
		}
	}
}


@include media-breakpoint-down(sm) {
	.teaser-theme-giant {
		.teaser {
			[class*="teaser-label"] {
				font-size: .6rem;
				padding: 3px .3125rem 2px ;
			}
		}
	}
	.teaser-theme-xtragiant {
		.teaser-body {
			& > [class*="teaser-label"] {
				margin: 0 0 .5rem;
				font-size: 1rem;
			}
		}
	}
	.header-related {
		[class*="teaser-label"] {
			padding:  2px .3rem 1px;
			font-size: 8px;
			position: relative;
			top: -1px;
			
		}
		.teaer-label-live {
			font-size: .7rem;
		}
		
	}
	.teaser-large {
		.teaser-img {
			[class*="teaser-label"] {
				font-size: .9rem;
			}
		}
	}
	

}
