[class*="item--teaser"] {
	padding: 0  .625rem .625rem;
	display: inline-block;
    box-sizing: border-box;
	flex: 0 1 auto;
	width: 100%;
	margin: 0;
	text-align: left;
	vertical-align: top;
	direction: ltr;
}


/*GRID STUFF*/

.item--teaser__bt  {
	position: relative;
	padding-top: .625rem;
	&:before {
		background-color: $border-color;
		height: $border-width;
		position: absolute;
		left: .625rem;
		right: .625rem;
		top: 0;
		content: '';
	}	
}

.teaser-2 {
	position: relative;
	overflow: hidden;
	a {
		color: #000;
		&:hover {
			text-decoration: none;
			color: rgba(0,0,0,.7);
		}
	}
	.header {
		@extend .font-s1;
		margin-bottom: 0;
	}
	.teaser-summary {
		@extend .font-g1;
		color: rgba(0,0,0,.75);
		font-size: 1.1rem;
		
	}
	.teaser-img {
		img {
			transition: opacity .4s ease;
			backface-visibility: hidden;
		}
	}

	&:hover {
		.teaser-img {
			img {
				opacity: .85;
			}
		}
	}

	
	.teaser--footer {
		@extend .font-s2;
		font-weight: 500;
		text-transform: uppercase;
		color: #999;
		font-size: .9rem;
	}

	.teaser--title {
		@extend .font-sans-alt;
		font-size: 1.4rem;
		display: block;
		text-align: left;
		margin-bottom: .4rem;
		text-transform: uppercase;
	}

	.teaser--category {
		color: $col-blue-1;
	}	
	.teaser--author {
		font-size: .8rem;
		text-transform: uppercase;
		display: block;
		margin-top: .3rem;
		@extend .font-s2;
		font-weight: 500;
		color: #222;
		&:before {
			content: 'Af: ';
			
		}
		.teaser--comments {
			margin-left: .2rem;
		}
	}	
	
}

.teaser--comments {
	@extend .font-s2;
	font-size: .8rem;
	font-weight: 500;
	white-space: nowrap;
	color: rgba(0,0,0,.75);
	vertical-align: middle;
	i {
		color: $col-blue-1;
	}
}
.teaser--category {
	@extend .font-s2;
	font-weight: 500;
	text-transform: uppercase;
	color: #999;
	font-size: .9rem;
	/*&:before {
		content: '';
		width: 10px;
		height: 10px;
		background-color: $col-business-dark;
		border-radius: 50%;
		display: inline-block;
		margin-right: .1rem;
	}*/
}

/*TEASER VARIATIONS*/

.teaser--img-left {
	@extend .clearfix;
	.teaser-img,
	.teaser-img-sm {
		float: left;
		margin: 0 .625rem .625rem 0;
	}
	.img {
		max-width: 13.75rem;
	}
	.teaser-body {
		overflow: hidden;
	}
	
}

.teaser--img-right {
	.teaser-img,
	.teaser-img-sm {
		float: right;
		margin: 0 0 .625rem .625rem;
	}
	.img {
		max-width: 13.75rem;
	}
	.teaser-body {
		overflow: hidden;
	}
}


/*SIZES*/

.teaser--big {
	.header {
		font-size: 45px;
	}
}
.teaser--small {
	.header {
		font-size: 30px;
	}
}
.teaser--xsmall {
	.header {
		font-size: 20px;
	}
}

.teaser--xxsmall {
	.header {
		font-size: 15px;
	}
}


.teaser--medium {
	.header {
		font-size: 50px;
	}
}
.teaser--xlarge {
	
	position: relative;
	.teaser-body {
		@include gradient-vertical(rgba(37,37,37,.0), rgba(37,37,37,.8), 0%, 50%);
		position: absolute;
		left: 0;
		right: 0;
		top:auto;
		bottom: 0;
		padding: 4rem $spacer;
	}
	.teaser-img {
		margin-bottom: 0;
	}
	.header {
		font-size: 50px;
		color: #fff;
	}
	.teaser-summary {
		color: #fff;
	}
	[class*="teaser-label"] {
		span {
			float: none;
		}
	}
	
	.teaser--label-breaking {
		display: block;
		@extend .font-s2;
		font-size: 1.5rem;
		text-transform: uppercase;
		margin-bottom: .313rem;
		span {
			background-color: $col-breaking;
			color: #000;
			display: inline-block;
			padding: .2rem .625rem .1rem;
			line-height: 1;
		}
	}
	
	.teaser-summary,	
	.header,
	.teaser-related {
		max-width: 56.4rem;
	}
	
	.teaser-related {
		li {
			max-width: 50%;
			float: left;	
			padding-left: 0;
			padding-right: $spacer;
			&:before {
				display: none;
			}
		}

		a {
			color: #fff;
		}
		img {
			border: $border-width solid rgba(255,255,255,.7);
		}
	}

}


/*DESIGNS*/







/*TEASER ACCESORIES*/

[class*='teaser--pack']{
	.header-related {
		@extend .font-s1;
		font-size: 18px;
		margin-bottom: 0;
	}
	figure {
		float: left;
		margin: 0 .625rem 0 0;
	}
	.related-body {
		overflow: hidden;
	}
	ul {
		margin-bottom: 0;
	}
	li {
		padding: 0 0 0 .9rem;
		margin: 0 0 $spacer;
		position: relative;
		&:before {
			width: .5rem;
			height: .5rem;
			background-color: $col-blue-1;
			position: absolute;
			left: 0;
			top: .4rem;
			content: '';
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.teaser--pack__pack1 {
	li:nth-child(1) {
		padding-left: 0;
		&:before {
			display: none;
		}
		.header-related {
			font-size: 1.6rem;
		}

	}
	li:nth-child(n+2) {
		padding-left: .9rem;
		margin-bottom: .5rem;
		.header-related {
			margin-bottom: 0;
		}
		&:before {
			content: '';
		}
	}
}

.teaser--pack__pack2 {
	li:nth-child(1) {
		padding-left: 0;
		&:before {
			display: none;
		}
		figure {
			float: right;
			margin: 0 0 0 .625rem;

		}
		.header-related {
			font-size: 1.6rem;
		}
	}
	li:nth-child(n+2) {
		padding-left: .9rem;
		margin-bottom: .5rem;
		.header-related {
			margin-bottom: 0;
		}
		&:before {
			content: '';
		}
	}
}

.teaser--pack__pack3 {
	li:nth-child(-n+2) {
		padding-left: 0;	
		&:before {
			display: none;
		}
		.header-related {
			font-size: 1.6rem;
		}
	}
	
	li:nth-child(1) {
		figure {
			float: right;
			margin: 0 0 0 .625rem;

		}
	}
	li:nth-child(2) {
		
		.header-related {
			margin-bottom: 0;
		}
		&:before {
			content: '';
		}
	}
	
}


.teaser--pack--list {
	list-style: none;
	padding-left: 0;
}
.teaser-related-small-img {
	list-style: none;
	padding: 0;
	li {
		@extend .clearfix;
		& + li {
			margin-top: $spacer;
		}
	}
	figure {
		float: left;
		margin: 0 .625rem 0 0;
	}
	.header-related {
		@extend .font-s1;		
		font-size: 25px;
		margin-bottom: 0;
	}
}


.teaser--category + .teaser--date {
	margin-left: .1rem;
}
.teaser--date {
	color: #999;
}
.teaser--trumpet {
	color: $col-blue-1;
}
.teaser--trade  {
	margin-bottom: 0;
	padding-bottom: .625rem;
	&:after {
		position: absolute;
		left: .625rem;
		right: .625rem;
		bottom: -1px;
		content: '';
		height: .2rem;
		background-color: lighten($col-blue-1, 50%);
		z-index: 2;
	}
}
.trade--header {
	background-color: lighten($col-blue-1, 50%);
	margin-bottom: .313rem;
	color: $col-blue-1;
	line-height: 1;
	padding: .313rem .625rem;
	@extend .font-g1;
	font-size: .9rem;
}


.teaser--theme-business {
	.teaser--trumpet {
		color: $col-business-dark;
	}
	.teaser-2 {
		padding: .625rem;
		background-color: $col-business-light;	
	}
	.header,
	.header-related {
		font-weight: 400;
	}
	.teaser--comments i,
	.teaser--category {
		color: $col-business-dark;
	}

	li:before {
		background-color: $col-business-dark;
	}
}

.teaser--theme-cappucino {
	.teaser-2 {
		padding: .625rem;
		background-color: $col-cappucino;
	}
}
.teaser--theme-fragileblue {
	.teaser-2 {
		padding: .625rem;
		background-color: $col-blue-3;
	}
}

.teaser--theme-white {
	.teaser-2 {
		padding: .625rem;
		background-color: #fff;
	}
}

.teaser--theme-gray {
	.teaser-2 {
		padding: .625rem;
		background-color: darken($background-color, 4%);
	}
}

.teaser--longread {
	.teaser-img {
		margin-bottom: 0;
	}
	.teaser-body {
		position: absolute;
		z-index: 2;
		bottom: 1rem;
		left: 1rem;
		
		background-color: rgba(0,0,0,.5);
		padding: .625rem;
		max-width: 40rem;
	}
	.header {
		color: #fff;
		font-size: 2rem;
	}
	.teaser--comments,
	.teaser-summary {
		color: rgba(255,255,255,.9);
	}
	
}

[class*="teaser--cartoon"] {
	text-align: center;
	background: $background-color;
	border: $border-color solid $border-width;
	padding-left: 0;
	padding-right: 0;
	background-color: #fff;
	border-radius: .25rem;
	
	a {
		@extend .clearfix;
	}
	.teaser-img {
		&:before {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: -1px;
			content: '';
			@include gradient-vertical(fade-out($background-color, 1), $background-color, 30%, 100%);
			z-index: 2;
		}
	}
	.teaser-img {
		margin-bottom: 0;
	}
	.teaser-body {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding-top: 3rem;
		z-index: 2;
	}
	.btn {
		margin: .625rem  auto 0;
	}
}
.teaser--cartoon-1 {
	.teaser-body {
		background: url(/dist/images/logo-hardtmodhardt.png) center top no-repeat;
		background-size: auto 2.5rem;
	}
}
.teaser--cartoon-2 {
	.teaser-body {
		background: url(/dist/images/logo-nitilfem.png) center top no-repeat;
		background-size: auto 2.5rem;
	}
}
.teaser--cartoon-3 {
	.teaser-body {
		background: url(/dist/images/logo-tilstregen.png) center top no-repeat;
		background-size: auto 2.5rem;
	}
}

//  Teaser feature
.teaser--img-left, 
.teaser--img-right {
	&.teaser--theme-feature {
	.img {
		border-radius: 50%;
		max-width: 10rem;
	}	
	}
}


.teaser--roundimg {
	.img {
		border-radius: 50%;
	}
}
.teaser--squareimg {
	.img {
		border-radius: 0!important;
	}
}

// teaser: Image of the day

.teaser--photo {
	position: relative;
	.teaser-img {
		margin-bottom: 0;
	}
	.teaser-body {
		position: absolute;
		z-index: 2;
		bottom: 1rem;
		left: 1rem;
		max-width: 40rem;
		background-color: #222;
		padding: .625rem;
	}

	.teaser--comments,
	.teaser-summary,
	.header {
		color: rgba(255,255,255,.9);
	}
	.teaser--author {
		color: #ccc;
		&:before {
			content: '\e81a';
			font-family: b-icons;
		}

	}
}


.teaser--padding {
	padding: $spacer .625rem .625rem;
	background-color: $col-blue-3;
	margin-bottom: $spacer;
	margin-top: .625rem;
	[class*=item--teaser] {
		padding: 0;
	}
}



