[class*="teaser--label"] {
	display: inline-block;
	padding: .425rem 0.625rem 0.425rem;
	@extend .font-s2;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1rem;
	.bicon-record:before {
		@extend .animate-live;
		padding: 0 .1rem;
	}
}

.teaser-img {
	[class*="teaser--label"] {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		opacity: 1!important;
	}
}
.teaser--label-yellow {
	background-color: $col-breaking;
	color: #000;
}
.teaser--label-red {
	background-color: $col-live;
	color: #fff;

	
}

.teaser--xlarge {


	.teaser--label-breaking {
		font-size: 1.5rem;
		text-transform: uppercase;
	}	
}
