$iconDefeault : 3.5rem;
$iconDefeaultSM : 2.8rem;

$iconRelatedDefeault : 2.1rem;
$iconRelatedDefeaultSM : 1.5rem;

[class*="teaser--icon"] {
	
	position: relative;
	&:before,
	&:after {
		position: absolute;
		text-align: center;
		color: #fff;
		z-index: 2;
		font-family: b-icons;
		top: .625rem;
		left: .625rem;
	}
	&:before {
		box-shadow: 0 0 1rem rgba(0,0,0,.4);
		content: '';
		border-radius: 50%;
		background-color: rgba(0,0,0,.7);
		transition: border-width .3s ease, border-color .01s ease, background-color .3s ease;
		border-width: 0;
		border-color: transparent;
		border-style: solid;
	}
	&:after {
		// margin-left: .6%;
		color: #fff;
	}
	&:hover:before {
		border-color: 	$col-blue-1;
	}
	
}


.teaser--icon__gallery {
	&:after {
		content: '\e819';
		margin-left: 0;
	}
	&:hover:before {
		background-color: $col-blue-1;
		border-width: ($iconDefeault/2);

	}
	
	 
}

.teaser--icon__video {
	&:after {
		content: '\e823';
		transform: scale(1.4) translateX(2%);
		-webkit-font-smoothing: antialiased;
	}

	&:hover:before {
		background-color: $col-blue-1;
		border-width: ($iconDefeault/2);
	}
}
.teaser--xxlarge,
.teaser--xlarge,
.teaser--large {
	[class*="teaser--icon"] {
		&:before,
		&:after {				
			width:	$iconDefeault;
			height: $iconDefeault;
			line-height: $iconDefeault;
			font-size: $iconDefeault * .6;
		}
	}
}

.teaser--small {
	[class*="teaser--icon"] {
		&:before,
		&:after {
			width:	$iconRelatedDefeault;
			height: $iconRelatedDefeault;
			line-height: $iconRelatedDefeault;
			font-size: $iconRelatedDefeault * .6;

			top: .3125rem;
			left: .3125rem;
		}
		&:hover:before {
			border-width: ($iconRelatedDefeault/2);
		}
	}
}

.related--small,
.related--large {
	[class*="teaser--icon"] {
		&:before,
		&:after {
			width:	$iconRelatedDefeault;
			height: $iconRelatedDefeault;
			line-height: $iconRelatedDefeault;
			font-size: $iconRelatedDefeault * .6;
			top: .3125rem;
			left: .3125rem;
		}
		&:hover:before {
			border-width: ($iconRelatedDefeault/2);
		}
	}
}

.item--teaser {
	.bicon-camera,	
	.bicon-play-circled	 {
		display: none;
	}
}
.related--xsmall .bicon-camera,
.related--xsmall .bicon-play-circled {
	display: inline-block;
}

@include media-breakpoint-down(sm) {

	.teaser--xxlarge,
	.teaser--xlarge,
	.teaser--large {
	[class*="teaser--icon"] {
			&:before,
			&:after {				
				width:	$iconDefeaultSM;
				height: $iconDefeaultSM;
				line-height: $iconDefeaultSM;
				font-size: $iconDefeaultSM * .6;
			}
			&:hover:before {
				border-width: ($iconDefeaultSM/2);
			}
		}

	}

	.teaser--small,
	.related--small,
	.related--large {
		[class*="teaser--icon"] {
			&:before,
			&:after {
				width:	$iconRelatedDefeaultSM;
				height: $iconRelatedDefeaultSM;
				line-height: $iconRelatedDefeaultSM;
				font-size: $iconRelatedDefeaultSM * .6;
				top: .3125rem;
				left: .3125rem;
			}
			&:hover:before {
				border-width: ($iconRelatedDefeaultSM/2);
			}
		}
	}

}


