// BREAKING TAG

.teaser-font-alt {
	.header {
		@extend .font-g1;
		font-weight: 500!important; 
	}
}
.summary {	
	line-height: 1.1;
	&:last-child {
		margin-bottom: 0;
	}
}
.teaser-type {
	text-transform: uppercase;
	letter-spacing: .1rem;
	&:after {
		content: ' \2014';
	}
}
.teaser-cat {
	display: block;
	font-size: .7rem;
	margin-bottom: .3rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	@extend .font-s2;	
}

.teaser-summary {
	@extend .font-s2;
}

img {
	@extend .img-fluid;
}

.teaser.bb:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}


.site-business  {
	.teaser:hover {
		a {
			color: $col-bus-alt;
		}
	}
	.teaser a:hover {
		color: $col-bus-alt;
	}
}
.teaser {

	a {
		color: #000;
		transition: color .2s ease;
		&:hover {
			text-decoration: none;
			color: $col-alt;
		}
	}
	.header {
		margin-bottom: 0;
		@extend .font-s1;
	}
	.teaser-img {
		img {
			transition: opacity .4s ease;
			backface-visibility: hidden;
		}
	}
	&:hover {
		.teaser-img {
			img {
				opacity: .9;
			}
		}
		a {
			color: $col-alt;
		}
	}
}
.teaser-label {
	@extend .teaser-cat;
}

.main-teaser {
	padding-bottom: $spacer;

	/*background-color: #fff;*/
	/*.teaser-body {
		padding: 0 .625rem .625rem;
	}*/
}

.toggle-oneliner {
	position: absolute;
	top: .3rem;
	right: .3125rem;

}
.header-oneliner {
	overflow: hidden;
	transition: height .2s ease;
}
.teaser-oneliner {
	position: relative;
	padding: .6rem 0;
	text-align: center;
	background-color: yellow;
	@extend .border-top; 
	.header {
		@extend .font-sans;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}
}
.remove-oneliner {
	@extend .animate-goodbye-2; 
	.header {
		@extend .animate-goodbye;
	}
}



// teaser well 

.teaser-well-black {
	.teaser-content:after {
		@include gradient-vertical(rgba(37,37,37,.0), rgba(37,37,37,.9), 0%, 100%);
	}
	.header {
		text-shadow: 1px 1px 1px rgba(37,37,37,.4), 0 0 30px rgba(0,0,0,.7);
	}
	.well-summary {
		color: #fff;
	}
}
.teaser-well-white {
	.teaser-content:after {
		@include gradient-vertical(rgba(248,248,248,.0), rgba(248,248,248,1), 0%, 85%);
	}
	
	.well-summary,
	.header {
		text-shadow: 0 0 30px rgba(255,255,255,.5), 1px 1px 0 rgba(255,255,255,.2);
		 a {
			color: #000;
		}
	}
}

.site-business .teaser-well-white {
	.teaser-content:after {
		@include gradient-vertical(transparentize($col-business, 1), transparentize($col-business, 0), 0%, 85%);
	}
	
	.well-summary,
	.header {
		text-shadow: 0 0 30px rgba(255,255,255,.5), 1px 1px 0 rgba(255,255,255,.2);
		 a {
			color: #000;
		}
	}
}

/*.teaser-category {
	display: inline-block;
	background-color: red;
	color: #fff;
	padding: .625rem $spacer;
	line-height: 1;
	font-size: .8rem;
	text-transform: uppercase;
	z-index: 2;
	position: relative;
	margin-bottom: .3125rem;

}*/

.teaser-well {
	position: relative;
	padding-top: 56.25%;
	margin-bottom: $spacer;
	&:hover {
		.teaser-content:after {
			height: 450px;
		}
	}

	a {
		color:#fff;
		text-decoration: none;
	}
	.teaser-content {
		@extend .absolute;
		top: auto;
		bottom: 5rem;
		width: 100%;
		z-index: 5;
		padding: 1rem;
		&:after {
			transition: all .2s ease;
			display: block;
			position: absolute;
			bottom: -5rem;
			height: 400px;
			left: 0;
			right: 0;
			width: 100%;
			content: '';
			z-index: -1;
		}
	}

	.header {
		@extend .font-g2;
		line-height: 1.1;
		color: #fff;
		font-size: 3.1rem;
		margin-bottom: .3rem;
		max-width: 80%

	}
	.well-summary {
		font-size: 1.1rem;
		max-width: 51rem;
		margin-bottom: 0;
	}
	.well-related {
		@extend ul.reset;
		li {
			display: inline-block;
			float: left;
		}
		.related-img {
			float: left;
			margin-right: .5rem;
		}
	}
	.header-related {
		@extend .font-sans;
		font-weight: normal;
	}
}

// teaser-bg

.teaser-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	bottom: 0;
	@extend .absolute;
	&:before {
		@extend .absolute;
		bottom: 0;
		content: '';
		background: #fff;
		opacity: 0;
	}
}

// teaser-wide

.teaser-wide {
	border-bottom: $border-width solid $border-color;
	margin-bottom: $spacer;
	.teaser-img {
		position: relative;
	}
	.teaser-summary {
		font-size: 1.4rem;
	}
	figcaption {
		position: absolute;
		bottom: $spacer * 3;
		left: $spacer + .6rem;
		z-index: 2;
		max-width: 40rem;
		
	}
	.teaser-related {
		li {
			font-size: 1rem;
		}
	}
	.teaser-category {
		margin-left: -.625rem;
		padding: .3rem .3rem;
		background-color: #fff;
		color: #000;
	}
	.mega-header {
		font-size: 3rem;
		font-kerning: auto;
		line-height: 1.3;
		span {	
			background-color: #111;
			padding: .625rem 0;
			color: #fff;
			box-shadow: .625rem 0 #111, -.626rem 0 #111;
		}
	}
	
	.teaser-content {
		margin-top: -2rem;
		position: relative;
		z-index: 2;
		padding: 0 ($spacer * 2) 0 $spacer;
	}
	.teaser-padding {
		padding: $spacer;
		background-color: $background-color;

	}
	
	
	.widget {
		background-color: #fff;
		border-radius: .2rem;
		padding: $spacer;		
		position: absolute;
		bottom: $spacer;
		right: 2rem;
		left: -2rem;
		box-shadow: 2px 2px 2px rgba(0,0,0,.25);
		.btn {
			border: .2rem solid red;
			border-radius: 0;
			padding: .2rem .625rem;
			background-color: red;
			color: #fff;
			font-size: .8rem;
			font-weight: 300;
			i {
				@extend .animate-blink;
				animation-duration: 1.3s;
			}
			&:hover {
				background-color: darken(red, 10%);
				border-color: darken(red, 10%);;
			}
		}
	}
	.fadeImg:not(:first-child) {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		opacity: 0;
		z-index: 2;
		// @extend .animate-fade-in;
		animation: fadeInSlide 30s linear infinite 0s;

	}

	.fadeImg:nth-child(1) { 

	}
	.fadeImg:nth-child(2) {
		animation-delay: 6s;
	}
	.fadeImg:nth-child(3) {
		animation-delay: 12s;
	}
	.fadeImg:nth-child(4) {
		animation-delay: 18s;
	}
	.fadeImg:nth-child(5) {
		animation-delay: 24s;
	}
}

@keyframes 	fadeInSlide {  
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
	}
	2% {
		animation-timing-function: ease-out;
		opacity: 1;
	}
	23% {
		opacity: 1
	}
	25% {
		opacity: 0
	}
	100% {
		opacity: 0
	}
}


.teaser-summary {
	margin-top: .425rem;
	color: #333;
	line-height: 1.3;
	font-size: .85rem;
}

// teaser-sm 

.teaser-sm {
	.teaser-img {
		margin-bottom: .625rem;
	}
	.header {
		@extend .font-teaser;
		// font-weight: $font-teaser-weight;
		line-height: $font-teaser-lineheight;
		padding-bottom: .2rem;
	}
}


// teaser-float

.teaser-float-left {
	@extend .clearfix;
	.teaser-img {
		float: left;
		margin: 0 $spacer 0 0;
		max-width: 160px;
	}
	.teaser-body {
		overflow: hidden;
	}
}

.teaser-consumersales {
	@extend .font-s2;
	a:hover,
	.teaser-cat {
		color: #ce4e00;
	}
	.teaser-img {
		margin-right: .5rem;
	}
	.teaser-summary {
		margin-top: 0;
		color: rgba(0,0,0,.6);
		margin-bottom: .3rem;
	}
	.header {
		@extend .font-s2;
		font-weight: 500;
		font-size: 1rem;
		margin-bottom: .3rem;
	}
	.teaser-price {
		font-size: .8rem;
		margin-bottom: .3rem;
		font-weight: 500;
		span {
			display: inline-block;
			vertical-align: text-top;
		}
		
		.btn {
			margin-left: .5rem;
		}
	}
	&:hover {
		a {
			color: #ce4e00;
		}
	}
}

.teaser-bg {
	position: relative;
	padding-bottom: 0;
	@extend .link-fff;
	.teaser-img {
		margin-bottom: 0;
	}
	.teaser-cat {
		color: #fff;
	}
	.teaser-body {
		@include gradient-vertical(rgba(37,37,37,.0), rgba(37,37,37,.9), 0%, 100%);
		@extend .absolute;
		top: initial;
		bottom: 0;
		padding: 2rem .625rem .625rem;
	}
	.header {
		// text-shadow: 1px 1px 1px rgba(37,37,37,.4);
	}
	a {
		color: #fff;
	}
}
.teaser-bg-narrow {
	.teaser-body {
		padding: 1rem .5rem .5rem;
	}
}

.teaser-imageoftheday {
	position: relative;
	padding: .625rem;
	background: $border-color;
	a:hover {
		cursor: zoom-in;
	}

	figcaption {
		position: absolute;
		background-color: #000;
		@include gradient-directional($start-color: #000, $end-color: #222, $deg: 0deg);
		left: 0;
		bottom: 0;
		padding: .625rem;
		max-width: 600px; 
	}
	figure {
		position: relative;
	}
	.header {
		color: #fff;
		font-size: 1.8rem;
	}	
	.image-count {
		position: absolute;
		bottom: 0;
		height: 3rem;
		width: 5rem;
		right: -5rem;
		text-align: center;
		line-height: 3rem;
		background-color: #ffcc00;
		display: inline-block;
		z-index: 2;
		font-size: 1.8rem;
		padding: 0 .625rem;
		font-weight: 700;
		&:before {
			content: '\e80f';
			font-family: b-icons;
			width: 3rem;
			height: 3rem;
			line-height: 3rem;
			text-align: center;
			
			
			color: #000;
			margin-right: .5rem;
		}
	}
}
.teaser-author {
	font-size: .7rem;
	display: block;
	margin-top: .3rem;

}
.black-cat {
	.teaser-cat {
		background-color: #fff;
		color: #333;
		display: inline-block;
		padding: .2rem .5rem;
	}
}
.teaser-breaking .teaser-category {
	background: yellow;
	color: #000;
	margin-bottom: .3rem;
}

.teaser-longread {
	position: relative;
	figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		&:after {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			@include gradient-vertical(rgba(37,37,37,.0), rgba(37,37,37,.9), 0%, 100%);
			top: -3rem;
		}
	}
	.header {
		font-size: 2.5rem;
		padding-bottom: $spacer;
		
		padding-left: $spacer;
		padding-right: $spacer;
		color: #fff;
		z-index: 2;
		position: relative;
	}
}

.teaser-thumb {
	.img {
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		border: $border-width solid rgba(0,0,0,.2);
		box-shadow: 3px 3px 0 rgba(0,0,0,.2);
	}
}
.members-only {
	background-color: rgba(0,0,0,.05);
	display: inline-block;
	clear: left;
	border-radius: .1rem;
	line-height: 1.4;
	padding: 0 .2rem;
	color: #333;
	font-size: .7rem;
	span {
		

	}
}
[class*="teaser-quote-"] {
	padding: .625rem;
	
	.header {
		font-family: Oswald, sans-serif;
		// text-transform: uppercase;
		font-weight: 300;
	}
	.teaser-img {
		width: 100%;
	}
	.img {
		border-radius: 50%;
		height: 70px;
		width: 70px;
		margin: 0 0 0 auto;
		float: right;
		border: $border-width solid rgba(0,0,0,.2);
		box-shadow: 3px 3px 0 rgba(0,0,0,.2);
	}
	&:hover a,
	a:hover {
		color: #fff;
	}
}
.teaser-quote-1 {
	background-color: $col-alt;
	a {
		color: #fff;
	}
	&:hover {
		background-color: darken($col-alt, 3%);
	}
}

.teaser-quote-2 {
	background-color: #cc955b;
	a {
		color: #fff;
	}
	&:hover {
		background-color: darken(#cc955b, 3%);
	}
}

.site-business {
	.teaser-quote-1 {
		background-color: #333;
		a {
			color: #fff;
		}
		&:hover {
			background-color: darken(#333, 3%);
			a {
				color: #fff;
			}
		}
	}	
}
@include media-breakpoint-down(sm) {
	.teaser-consumersales {
		.teaser-img {
			max-width: 40px;
		}
		.header {
			font-size: .8rem;
			margin-bottom: 0;
		}
		.teaser-summary,
		.teaser-price {
			font-size: .7rem;		
			margin-bottom: 0;
		}
	}
}

/*.teaser-editorial {
	background: url(/dist/images/vaabenskjold-2.png) center top no-repeat;
	background-size: contain;
	padding-top: 100px;
	
}*/