[class*="item--teaser"] {
	padding: 0  .625rem;
	display: inline-block;
    box-sizing: border-box;
	flex: 0 1 auto;
	width: 100%;
	margin: 0 0 .625rem;
	text-align: left;
	vertical-align: top;
	direction: ltr;
}

.img {
	@extend .img-fluid;
}
/*GRID STUFF*/

.item--teaser__bt  {
	position: relative;
	padding-top: .625rem;
	&:before {
		background-color: $border-color;
		height: $border-width;
		position: absolute;
		left: .625rem;
		right: .625rem;
		top: 0;
		content: '';
	}	
}

.item--teaser__bb  {
	position: relative;
	padding-bottom: .625rem;
	&:after {
		background-color: $border-color;
		height: $border-width;
		position: absolute;
		left: .625rem;
		right: .625rem;
		bottom: 0;
		content: '';
	}	
}


.teaser-2 {
	position: relative;
	overflow: hidden;
	a {
		color: #000;
		&:hover {
			text-decoration: none;
			color: rgba(0,0,0,.7);
		}
	}
	.header {
		@extend .font-s1;
		margin-bottom: 0;
	}
	.teaser-summary {
		@extend .font-g1;
		color: rgba(0,0,0,.75);
		font-size: 1.1rem;
		.teaser-tools {
			display: inline;
		}
		/*.pipe {
			display: none;
		}*/
	}
	.teaser-img {
		position: relative;
		margin-bottom: .625rem;
		img {
			transition: opacity .4s ease;
			backface-visibility: hidden;
		}
	}

	&:hover {
		.teaser-img {
			img {
				opacity: .85;
			}
		}
	}

	
	.teaser--footer {
		@extend .font-s2;
		font-weight: 500;
		
		color: #999;
		font-size: .9rem;
	}

	.teaser--title {
		@extend .font-sans-alt;
		font-size: 1.4rem;
		display: block;
		text-align: left;
		margin-bottom: .4rem;
		text-transform: uppercase;
	}

	
	.teaser--author {
		font-size: .8rem;
		text-transform: uppercase;
		display: block;
		margin-top: .3rem;
		@extend .font-s2;
		font-weight: 500;
		color: #222;
		&:before {
			content: 'Af ';
			
		}
		.teaser--comments {
			margin-left: .2rem;
		}
	}	
	
}

.teaser--comments {
	@extend .font-s2;
	font-size: .8rem;
	font-weight: 400;
	white-space: nowrap;
	color: rgba(0,0,0,.6);
	vertical-align: middle;
	i {
		color: rgba(0,0,0,.4);
	}
	& + .subscriber-notice {
		&:before {
			content: '|';
			padding: 0 .4rem 0 .2rem;
			color: rgba(0,0,0,.2);
		}
		}
}
.teaser--category {
	@extend .font-s2;
	font-weight: 500;
	text-transform: uppercase;
	color: #222;
	font-size: .9rem;
	&:after {
		content: '\2013';
	    padding: 0 .1rem ;
		// color: rgba(0,0,0,.3);
		font-weight: 600;
	}
	i {
		// color: $col-silvergray;
	}
	/*&:before {
		content: '';
		width: 10px;
		height: 10px;
		background-color: $col-business-dark;
		border-radius: 50%;
		display: inline-block;
		margin-right: .1rem;
	}*/
}

/*TEASER VARIATIONS*/

.teaser--img-left {
	@extend .clearfix;
	.teaser-img {
		float: left;
		margin-right: .625rem;
		max-width: 13.75rem;
	}
	
	.teaser-body {
		overflow: hidden;
	}
	
}

.teaser--img-right {
	.teaser-img {
		float: right;
		margin-left: .625rem;
		max-width: 13.75rem;
	}
	
	.teaser-body {
		overflow: hidden;
	}
}


/*SIZES*/



.teaser--big {
	.header {
		font-size: 2.813rem;
	}
}


.teaser--small {
	.header {
		font-size: 1.875rem;
	}
}
.teaser--xsmall {
	.header {
		font-size: 1.25rem;
	}
}

.teaser--xxsmall {
	.header {
		font-size: 0.938rem;
	}
}


.teaser--medium {
	.header {
		font-size: 1.875rem;
	}
	&.teaser--img-left,
	&.teaser--img-right {
		.teaser-img {
			max-width: 20rem;
		}
	}
}





/*TEASER ACCESORIES*/

.teaser--pack {
	.header-related {
		@extend .font-s1;
		margin-bottom: 0;
	}	
	.related-body {
		overflow: hidden;
	}
	ul {
		margin-bottom: 0;
	}
	.item--teaser:not(.related--xsmall) {
		padding-left: 0;
		padding-right: 0;
	}
}


.teaser--pack--list {
	list-style: none;
	padding-left: 0;
	&+ .teaser--pack--list {
		margin-top: 0;
	}
}

.teaser-tools {
	display: block;
	line-height: .8rem;
	white-space: nowrap;
}


.related--xsmall {
	padding-left: .5rem;
	position: relative;

	.header-related {
		@extend .font-s2;
		font-weight: 500;
		margin-bottom: 0;
	}

	&:before {
		width: .2rem;
		background-color: $col-blue-1;
		position: absolute;
		left: 0;
		bottom: .2rem;
		top: .1rem;
		content: '';
	}
	.teaser-tools {
		line-height: 1.2;
	}
}






.related--large {
	.header-related {
		font-size: 1.7rem;	
	}
	.teaser-tools {
		// line-height: .8;
	}
}

.related--medium {
	.header-related {
		font-size: 1.4rem;	
	}
}

.related--small {
	.header-related {
		font-size: 1.2rem;
	}
	.teaser-tools {
		line-height: .9;
	}
}

.related--xsmall {
	.header-related {
		font-size: 1rem;
	}
	.teaser-tools {
		display: inline;
	}
}





.teaser-related-small-img {
	list-style: none;
	padding: 0;
	li {
		@extend .clearfix;
		& + li {
			margin-top: $spacer;
		}
	}
	figure {
		float: left;
		margin: 0 .625rem 0 0;
	}
	.header-related {
		@extend .font-s1;		
		font-size: 25px;
		margin-bottom: 0;
	}
}


.teaser--category + .teaser--date {
	margin-left: .1rem;
}
.teaser--date {
	color: #999;
}
.teaser--trumpet {
	color: $col-blue-1;
	@extend .font-s2;
	font-weight: 500;
	font-size: .9rem;
	text-transform: uppercase;
	display: block;
}
.related--xsmall { 
	.teaser--trumpet {
		
		display: inline
	}
}

.teaser--trade  {
	margin-bottom: 0;
	padding-bottom: .625rem;
	&:after {
		position: absolute;
		left: .625rem;
		right: .625rem;
		bottom: -1px;
		content: '';
		height: .2rem;
		background-color: lighten($col-blue-1, 50%);
		z-index: 2;
	}
}
.trade--header {
	background-color: lighten($col-blue-1, 50%);
	margin-bottom: .313rem;
	color: $col-blue-1;
	line-height: 1;
	padding: .313rem .625rem;
	@extend .font-g1;
	font-size: .9rem;
}



.subscriber-notice {
	font-weight: 400;
	color: rgba(0,0,0,.5);
	white-space: nowrap;
	// vertical-align: middle;
	@extend .font-s2;
	font-size: .8rem;
	text-transform: uppercase;
	em {
		font-style: normal;
		vertical-align: middle;
	}
	

	.subscriber-icon {	
		// @extend [class^="bicon-"];
		// @extend .bicon-bicon;
		display: none;
	}
	
}

.icon-external {
	// @extend [class^="bicon-"]:before;
	// @extend .bicon-right-open-mini;
	// transform: rotate(-45deg) scale(1.6);
	display: none;
}

.teaser--theme-business {
	.teaser--category,
	.teaser--trumpet {
		color: $col-business-dark;
	}
	
	&.related--xsmall,
	.related--xsmall {
		&:before {
			background-color: $col-business-dark;
		}
	}

	/*&:before {
		background-color: $col-business-dark;
	}*/
	/*.teaser-2 {
		padding: .625rem;
		background-color: $col-business-light;	
	}*/
	/*.header,
	.header-related {
		font-weight: 400;
	}*/
	/*.teaser--comments i,
	.teaser--category {
		color: $col-business-dark;
	}

	li:before {
		background-color: $col-business-dark;
	}*/
}

.teaser--theme-cappucino {
	.teaser-2 {
		padding: .625rem;
		background-color: $col-cappucino;
	}
}
.teaser--theme-fragileblue {
	.teaser-2 {
		padding: .625rem;
		background-color: $col-blue-3;
	}
}

.teaser--theme-white {
	.teaser-2 {
		padding: .625rem;
		background-color: #fff;
	}
}

.teaser--theme-gray {
	.teaser-2 {
		padding: .625rem;
		background-color: darken($background-color, 4%);
	}
}



[class*="teaser--cartoon"] {
	text-align: center;
	// background: $background-color;
	// border: $border-color solid $border-width;
	padding-left: 0;
	padding-right: 0;
	background-color: #fff;
	border-radius: .25rem;
	
	a {
		@extend .clearfix;
	}
	.teaser-img {
		margin-bottom: 0;
		&:before {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: -1px;
			content: '';
			@include gradient-vertical(fade-out($background-color, 1), #fff, 30%, 95%);
			z-index: 2;
		}
	}
	
	.teaser-body {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding-top: 1rem;
		z-index: 2;
	}
	.btn {
		margin: 0 0 .625rem ;
	}
}
/*.teaser--cartoon-1 {
	.teaser-body {
		background: url(/dist/images/logo-hardtmodhardt.png) center top no-repeat;
		background-size: auto 2.5rem;
	}
}
.teaser--cartoon-2 {
	.teaser-body {
		background: url(/dist/images/logo-nitilfem.png) center top no-repeat;
		background-size: auto 2.5rem;
	}
}
.teaser--cartoon-3 {
	.teaser-body {
		background: url(/dist/images/logo-tilstregen.png) center top no-repeat;
		background-size: auto 2.5rem;
	}
}*/

//  Teaser feature
.teaser--img-left, 
.teaser--img-right {
	&.teaser--theme-feature {
	.img {
		border-radius: 50%;
		max-width: 10rem;
		}	
	}
}


.teaser--roundimg {
	.img {
		border-radius: 50%;
		filter: grayscale(100%);
	}
}
.teaser--squareimg {
	.img {
		border-radius: 0!important;
	}
}

.teaser--xlarge {
	
	position: relative;
	.teaser--content {
		@include gradient-vertical(rgba(37,37,37,.0), rgba(37,37,37,.8), 0%, 50%);
		position: absolute;
		left: 0;
		right: 0;
		top:auto;
		bottom: 0;
		padding: 4rem $spacer 5rem;
	}
	
	.teaser-img {
		margin-bottom: 0;
	}
	.header {
		font-size: 50px;
		color: #fff;
	}
	.teaser-summary,	
	.header {
		max-width: 56.4rem;
	}
	.subscriber-notice {
		color: rgba(255,255,255,.5);
		font-size: .7rem;
	}
	.teaser--pack {
		@extend .clearfix;
		background-color: fade-out(#222, .2);
		padding: .625rem;
		margin-top: .625rem;
		position: absolute;
		right: .625rem;
		width: 290px;
		bottom: .625rem;
		@extend .font-s2;
		.teaser--comments {
			color: #000;
		}
		ul {
			margin-top: 0;
		}
		
		.col-xs-6 {
			width: 100%;	
		}

		&:before {
			content: 'LÆS OGSÅ:';
			display: inline-block;
			position: absolute;
			left: 0;
			top: -1.8rem;
			line-height: 1.8rem;
			background-color: #222;
			color: #fff;
			padding: 0 1rem;
			font-size: .8rem;
			font-weight: 500;
		}
		.teaser-summary {
			font-size: .8rem;
		}
		.teaser-img {
			float: right;
			max-width: 80px;
			margin: 0  0 0 .625rem;
		}
	}
	
	.header-related {
		color: #fff;
		@extend .font-s2;
		font-size: .9rem;
		font-weight: 500;
	}
	.teaser--comments,
	.teaser-summary {
		color: #fff;
	}
	
	
	.related-body {
		overflow: visible;
	}
	


	.teaser-related {
		a {
			color: #fff;
		}
		img {
			border: $border-width solid rgba(255,255,255,.7);
		}
	}

}

// teaser: Image of the day


.teaser--photo {
	position: relative;
	padding-bottom: 0!important;
	.teaser-2 {
		margin-bottom: 0;
		.img {
			width: 100%;
			max-width: none;
		}
		.teaser-summary {
				color: rgba(255,255,255,.9);
				@extend .font-s2;
				font-size: .9rem;	
				display: inline;
		}
		.teaser-img {
			margin-bottom: .2rem;
		}
	}
	
	.teaser-body {
		z-index: 2;
	}
	.header {
		color: #fff;
		@extend .font-s2;
		font-size: .9rem;	
		display: inline;
	}

	
	
	.teaser--author {
		display: inline;
		color: #ccc;
		text-transform: none;
		&:before {
			content: '\e819 ';
			font-family: b-icons;
			margin-right: .2rem;
		}

	}
	
	
}

.teaser--longread {
	.teaser-img {
		margin-bottom: 0;
	}
	.teaser--content {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,.5);
		padding: $spacer;
		text-align: center;
	}
	.teaser--trumpet {
		color: #fff;
	}
	.header {
		color: #fff;
		font-size: 3rem;
	}
	.teaser--comments i,
	.teaser--comments,
	.teaser-summary,
	.subscriber-notice{
		color: rgba(255,255,255,.9);
	}

	
}


.teaser--padding {
	padding: $spacer .625rem .625rem;
	background-color: $col-blue-3;
	margin-bottom: $spacer;
	margin-top: .625rem;
	[class*=item--teaser] {
		padding: 0;
	}

}
.teaser--consumersales {
	.teaser-summary,
	.header { 
		// display: none; 
	}
	.teaser-img {
		margin-bottom: 0;
	}
	.img {
		max-width: none;
	}
	
	&[class*="item--teaser"] {
		padding: 0;
	}
}
.teaser-low {
	.teaser-2 {
		max-height: 260px;
	}
}


.teaser--consumersales {	
	overflow: hidden;
	transition: all 0.5s;	

	.teaser--content {				
		background-color: rgba(0,0,0,.8);
		transition: all 0.5s;
		padding: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(100%);
	}
	&:hover {
		.img {					
			transform: translateY(-15%);			
		}
		
		.teaser-body {
			transform: translateY(0);					
		}
	}	

	&.teaser--low {
		.img {
			transition: all 0.5s!important;
		}

			
	}
	.header {
		font-size: 1.3rem;
		color: #fff;
	}
	.teaser-summary {
		font-family: "Sanomat Sans Web", Helvetica, "Helvetica Neue", arial, sans-serif!important;
		font-size: .9rem;
		color: #fff;
	}
	

	&.teaser--tall {
		.img {
			transition: all 0.5s!important;
		}

		&:hover {
			.img {					
				transform: translateX(-25%);			
			}
			
			
		}		

		
		
	}

}

.pipe {
	&:before {
		content: ' | ';
	}
}
.header,
.header-related {
	.pipe {
		display: none;
	}
}

