[class*="item-teaser"] {
	padding: 0  .625rem;
	display: inline-block;
    box-sizing: border-box;
	flex: 0 1 auto;
	width: 100%;
	margin: 0 0 .625rem;
	text-align: left;
	vertical-align: top;
	direction: ltr;
}

.img {
	@extend .img-fluid;
}
/*GRID STUFF*/

.item-teaser-bt  {
	position: relative;
	padding-top: .625rem;
	&:before {
		background-color: $border-color;
		height: $border-width;
		position: absolute;
		left: .625rem;
		right: .625rem;
		top: 0;
		content: '';
	}	
}

.item-teaser-bb  {
	position: relative;
	padding-bottom: .625rem;
	&:after {
		background-color: $border-color;
		height: $border-width;
		position: absolute;
		left: .625rem;
		right: .625rem;
		bottom: 0;
		content: '';
	}	
}


[class*="item-teaser"] 
	a {
		color: #000;
		&:hover {
			text-decoration: none;
			color: rgba(0,0,0,.7);
	}
}

.teaser {
	position: relative;
	overflow: hidden;
	
	.header {
		@extend .font-s1;
		margin-bottom: .2rem;
		
	}
	
	
	.teaser-img {
		position: relative;
		margin-bottom: .625rem;
		img {
			transition: opacity .4s ease;
			backface-visibility: hidden;
		}
	}

	&:hover {
		.teaser-img {
			img {
				opacity: .85;
			}
		}
	}

	
	.teaser-footer {
		@extend .font-s2;
		font-weight: 500;
		
		color: #999;
		font-size: .9rem;
	}

	

	
	.teaser-author {
		font-size: .8rem;
		text-transform: uppercase;
		display: block;
		margin-top: .3rem;
		@extend .font-s2;
		font-weight: 500;
		color: #222;
		&:before {
			content: 'Af ';
			
		}
		&+ .teaser-summary {
			margin-top: .2rem;
		}
		
	}	
}

.teaser-summary + .subsciber-notice {
	margin-top: .1rem;
}

[class*="teaser-rating"] {
	

	.star-txt {
		display: none;
	}
}

.related-header {
	.subscriber-notice {
		display: none
	}
}

.related-summary {
	display: block;
	line-height: 1.2;
	.subscriber-notice {
		display: block;
	}
}
.teaser-summary {
	line-height: 1.2;
	/*.subscriber-notice {
		display: block;
	}*/
}
.related-summary-content,
.teaser-summary-content {
	@extend .font-g1;
	color: rgba(0,0,0,.75);
	font-size: 1.1rem;
	
	
}

.teaser-title {
	@extend .font-sans-alt;
	font-size: 1.4rem;
	display: block;
	text-align: left;
	margin-bottom: .4rem;
	text-transform: uppercase;
	text-align: center;
}

.teaser-comments {
	@extend .font-s2;
	font-size: .8rem;
	font-weight: 400;
	white-space: nowrap;
	color: rgba(0,0,0,.6);
	vertical-align: middle;
	i {
		color: rgba(0,0,0,.4);
	}
	& + .subscriber-notice {
		&:before {
			content: '|';
			padding: 0 .4rem 0 .2rem;
			color: rgba(0,0,0,.2);
		}
		}
}
.related-summary-category,
.teaser-category {
	@extend .font-s2;
	font-weight: 500;
	text-transform: uppercase;
	color: #222;
	font-size: .9rem;
	/*&:after {
		content: '\2013';
	    padding: 0 .1rem ;
		font-weight: 600;
	}*/
}

/*TEASER VARIATIONS*/

.teaser-img-left {
	@extend .clearfix;
	.teaser-img {
		float: left;
		margin-right: .625rem;
		max-width: 13.75rem;
	}
	
	.teaser-body {
		overflow: hidden;
	}
	
}

.teaser-img-right {
	.teaser-img {
		float: right;
		margin-left: .625rem;
		max-width: 13.75rem;
	}
	
	.teaser-body {
		overflow: hidden;
	}
}


/*SIZES*/





.related-header-content {
	.subscriber-notice {
		margin-top: .1rem;
		display: none;
	}

}

.related-small {
	.related-header-content {
		.subscriber-notice {
			display: block;
		}
	}
}
.related-small .related-header-content {
	.subscriber-notice {
		margin-top: .2rem;
	}
}



/*TEASER ACCESORIES*/

.related-tools {
	line-height: 1;
	span {
		vertical-align: middle;
		display: inline-block;
	}
	[class*="teaser-label"]{
		position: relative;
		top: -2px;
	}
}
.related-xsmall {
	[class*="teaser-label"]{
		position: inherit;
		
	}	
}
.teaser-pack {
	.header-related {
		@extend .font-s1;
		margin-bottom: .2rem;
		line-height: 1.1;
		
		[class*="teaser-label"] + span {
			margin-left: .2rem;
		}
	}	
	.related-body {
		overflow: hidden;
	}
	ul {
		margin-bottom: 0;
	}
	.item-teaser:not(.related-xsmall) {
		padding-left: 0;
		padding-right: 0;
	}
}


.teaser-pack-list {
	list-style: none;
	padding-left: 0;
	&+ .teaser-pack-list {
		margin-top: 0;
	}
}




.related-xsmall {
	padding-left: .5rem!important;
	position: relative;
	.related-header-trumpet {
		font-size: .9rem;
	}
	.header-related {
		@extend .font-s2;
		font-weight: 500;
		margin-bottom: 0;
		// line-height: 1;
		font-size: 1rem
	}
	

	&:before {
		width: .2rem;
		background-color: $col-blue-1;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		content: '';
	}	
}








.related-header-trumpet {
	color: $col-blue-1;
	@extend .font-s2;
	font-weight: 500;
	font-size: .9rem;
	text-transform: uppercase;
	display: block;
}
.related-header-category {
	@extend .related-header-trumpet;
	display: inline;
	&:after {
		content: '\2013';
		padding: 0 .1rem;
		font-weight: 600;
	}
}



.teaser-related-small-img {
	list-style: none;
	padding: 0;
	li {
		@extend .clearfix;
		& + li {
			margin-top: $spacer;
		}
	}
	figure {
		float: left;
		margin: 0 .625rem 0 0;
	}
	.header-related {
		@extend .font-s1;		
		font-size: 25px;
		margin-bottom: 0;
	}
}


.teaser-category + .teaser-date {
	margin-left: .1rem;
}
.teaser-date {
	color: #999;
}
.teaser-trumpet {
	color: $col-blue-1;
	@extend .font-s2;
	font-weight: 500;
	font-size: .9rem;
	text-transform: uppercase;
	display: block;
}
.related-xsmall { 
	.header-related {
		.related-header-category {
			display: none;
		}	
	}
	.teaser-trumpet {
		
		display: inline
	}
}





.subscriber-notice {
	font-weight: 400;
	display: block;
	color: rgba(0,0,0,.5);
	white-space: nowrap;
	// vertical-align: middle;
	margin-top: .2rem;
	@extend .font-s2;
	font-size: .7rem;
	text-transform: uppercase;
	em {
		font-style: normal;
		vertical-align: middle;
	}
	

	.subscriber-icon {	
		// @extend [class^="bicon-"];
		// @extend .bicon-bicon;
		display: none;
	}
	
}



.icon-external {
	// @extend [class^="bicon-"]:before;
	// @extend .bicon-right-open-mini;
	// transform: rotate(-45deg) scale(1.6);
	display: none;
}

.teaser-theme-trade  {
	margin-bottom: 0;
	padding-bottom: .625rem;
	.teaser {
		padding: .625rem;
		background-color: darken($background-color, 5%);
	}

	.teaser-footer {
		color: rgba(0,0,0,.5);
	}
}
.teaser-theme-trade-cs  {
	margin-bottom: 0;
	padding-bottom: .625rem;
	.teaser {
		padding: .625rem;
		background-color: $col-cappucino;
	}

	.teaser-footer {
		color: rgba(0,0,0,.5);
	}
}
.trade-header {
	background-color: lighten($col-blue-1, 50%);
	margin-bottom: .313rem;
	color: $col-blue-1;
	line-height: 1;
	padding: .313rem .625rem;
	@extend .font-g1;
	font-size: .9rem;
	display: none;
}

@mixin relatedTheme($color) {
	.related-summary-category,
	.related-header-trumpet {
		color: $color;
	}
	&.related-xsmall {
		&:before {
			background-color: $color;
		}
	}
}

@mixin teaserTheme($color) {
	.related-summary-category,
	.teaser-trumpet,
	.related-header-category,
	.teaser-category {
		color: $color;
	}
}


.related-theme-business {
	@include relatedTheme($col-business-dark);
}
.related-theme-aok {
	@include relatedTheme($col-aok);
}



.teaser-theme-business {
	@include teaserTheme($col-business-dark);
}
.teaser-theme-aok {
	@include teaserTheme($col-aok);
}




[class*="teaser-theme-cartoon"] {
	text-align: center;
	padding: $spacer;
	border-radius: .25rem;
	
	a {
		@extend .clearfix;
	}
	.teaser-img {
		position: relative;
		margin-bottom: 0;
		&:before {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: -1px;
			content: '';
			@include gradient-vertical(fade-out(#222, 1), #222, 70%, 100%);
			z-index: 2;
		}
	}
	
	
	.btn {
		margin: -4rem auto .625rem auto;
		position: relative;
		z-index: 2;
		box-shadow: 0 0 4px rgba(255,255,255,.3)!important;
	}
}

.teaser-theme-cappucino {
	.teaser {
		padding: .625rem;
		background-color: $col-cappucino;
	}
}
.teaser-theme-fragileblue {
	.teaser {
		padding: .625rem;
		background-color: $col-blue-3;
	}
}

.teaser-theme-white {
	
		padding: .625rem;
		background-color: #fff;
	
}

.teaser-theme-gray {
	.teaser {
		padding: .625rem;
		background-color: darken($background-color, 4%);
	}
}





//  Teaser feature
.teaser-img-left, 
.teaser-img-right {
	&.teaser-theme-feature {
		.teaser-img {
			max-width: 10rem;
		}
	.img {
		border-radius: 50%;
		}	
	}
}


.teaser-theme-feature {
	.teaser-img {
		padding-right: .2rem;
	}
	.img {
		border-radius: 50%;
		filter: grayscale(100%);
		border: .2rem solid #fff;
		box-shadow: 2px 2px 0 rgba(0,0,0,.1);
		transition: all .2s ease!important;
		
	}
	&:hover {
		.img {
			box-shadow: 0 0 0 rgba(0,0,0,.1);

		}
	}
}
.teaser-squareimg {
	.img {
		border-radius: 0!important;
	}
}


.teaser-theme-xtragiant {
	border-bottom: $border-width solid $border-color;
	padding: 0;
	.teaser {
		@extend .flex-row;
		flex-direction: column-reverse;
	}
	.header {
		font-size: 4rem;
	}

	.teaser-body {
		text-align: center;
		margin-bottom: 1rem;
	}
	
	.teaser-img {
		margin-bottom: 0;
		[class*="teaser-label"] {
			display: none;
		}
	}
}

.teaser-theme-giant {
	border-bottom: $border-width solid $border-color;
	padding: 0;
	/*margin-bottom: .625rem;*/
	position: relative;
	.teaser-content {
		@include gradient-vertical(rgba(37,37,37,.0), rgba(37,37,37,.8), 0%, 50%);
		position: absolute;
		left: 0;
		right: 0;
		top:auto;
		bottom: 0;
		padding: $spacer;
	}
	.teaser-author {
		color: #fff;
	}
	.teaser-img {
		margin-bottom: 0!important;
	}
	
	.teaser-summary-content,	
	.header {
		max-width: 55.4rem;
	}
	.subscriber-notice {
		color: rgba(255,255,255,.5);
	}
	.teaser-img span {
		display: none;
	}
	.teaser-summary-content {
		color: #fff;
	}
	
	.teaser-pack {
		.subscriber-notice {
			color: rgba(0,0,0,.5);
		}	
	}
	.header {
		color: #fff;
	}
	
	
	

}

// teaser: Image of the day


.teaser-theme-photo {
	position: relative;
	padding-bottom: 0!important;
	margin-bottom: 0;
	.img {
		width: 100%;
		max-width: none;
	}
	.teaser-summary-content {
			color: rgba(255,255,255,.9);
			@extend .font-s2;
			font-size: .9rem;	
			display: inline;
			color: #fff;
			font-weight: 500;
	}
	.teaser-img {
		margin-bottom: .2rem;
	}
	
	
	.teaser-body {
		z-index: 2;
	}
	.header {
		display: none;
	}

	
	
	.teaser-author {
		display: inline;
		color: #ccc;
		text-transform: none;
		&:before {
			content: '\e819 ';
			font-family: b-icons;
			margin-right: .2rem;
		}

	}
	
	
}

.teaser-theme-longread {
	.teaser-img {
		margin-bottom: 0!important;
	}
	.teaser-content {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,.5);
		padding: $spacer;
		text-align: center;
	}
	.teaser-trumpet {
		color: #fff;
	}
	.header {
		color: #fff;
		font-size: 3rem;
	}
	.teaser-comments i,
	.teaser-comments,
	.teaser-summary-content,
	.subscriber-notice{
		color: rgba(255,255,255,.9);
	}

	
}


.teaser-padding {
	padding: $spacer .625rem .625rem;
	background-color: $col-blue-3;
	margin-bottom: $spacer;
	margin-top: .625rem;
	[class*=item-teaser] {
		padding: 0;
	}

}



.teaser-price {
	color: #000;
	line-height: 1;
	
}

.teaser-price-price {
	@extend .font-s1;
	font-weight: 900;
	display: inline-block;
	vertical-align: middle;
	&:before {
		content: '\e829';
		font-family: b-icons;
		margin-right: .2rem;
	}
}




.teaser-consumersales {	
	overflow: hidden;
	transition: all 0.5s;	
	background-color: #fff;
	margin: 0;
	.teaser-img {
		margin-bottom: 0!important;
		transition: all 0.5s!important;
	}
	
	.btn {
		@extend .btn-dark-blue;
	}
	.fixed-header {
		font-size: 1.4rem;
	}
	
	&[class*="item-teaser"] {
		padding: 0;
	}

	.teaser-content {						
		transition: all 0.5s ease;
		padding: .3125rem .625rem;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		// @include gradient-vertical(fade-out($background-color, 1), fade-out($background-color, .2), 0, 50%);
		// transform: translateY(100%);
		background: fade-out(#fff, .2);
	}
	
	&:hover {
		.teaser-img {					
			transform: translateY(-5%) scale(1.1);			
		}
		
	}	

	.header {
		font-size: .9rem;
		color: #000;
		margin-bottom: 0;
		@extend .font-s2;
		font-weight: 500;
	}
}

.teaser-consumersales-fixed {
		background: $col-blue-2 url(/dist/images/wine-2.png) center center no-repeat ;
		background-size: contain;
	}


.pipe {
	padding: 0 .2rem;
	&:before {
		content: ' | ';
	}
}

.teaser-xlarge {
	.header {
		font-size: 3.125rem;
	}	
}

.teaser-large {
	.header {
		font-size: 2.813rem;
	}
}

.teaser-medium {
	.header {
		font-size: 1.875rem;
	}
	&.teaser-img-left,
	&.teaser-img-right {
		.teaser-img {
			max-width: 20rem;
		}
	}
	
}

.teaser-small {
	.header {
		font-size: 1.875rem;
	}
}
.teaser-xsmall {
	.header {
		font-size: 1.25rem;
	}
}

.teaser-xxsmall {
	.header {
		font-size: 0.938rem;
	}
}


.related-header-content {
	display: block;
}

.related-header-trumpet {
	display: inline;
}


// TEASER SIZES

@mixin relatedSize($fontSize: 1rem) {
	.related-header-content {
		font-size: $fontSize;
	}
}

.related-large {
	@include relatedSize(1.7rem);
}

.related-medium {
	@include relatedSize(1.4rem);
}

.related-small {
	@include relatedSize(1.2rem);
}

.related-xsmall {
	@include relatedSize(1rem);
	
	.related-header-trumpet {
		display: inline-block;
	}
	.related-header-content {
		display: inline;
	}
}



.list-buffet {
	margin: 0;
	li:nth-child(n+5) .teaser {
		border-top: $border-width solid $border-color;
		padding-top: .625rem;
	}
	.teaser-footer {
		line-height: 1.1;
		span {
			display: inline-block!important;
			font-size: .8rem;
		}
	}
	.teaser-category + span {
		&:before {
			content: ' \2013 '
		}
	}
	[class*="item-teaser"] {
		padding-left: 0;
		padding-right: 0;
	}
	.teaser-theme-feature {
		.img {
			max-width: 56.25%;
			margin: 0 auto;
		}
	}
}

@include media-breakpoint-only(lg) {

	


	.teaser-trumpet,
	.related-header-category, 
	.related-header-trumpet {
		font-size: .8rem;
	}
	.teaser-theme-xtragiant {
		.header {
			font-size: 3rem;
		}
		.related-small {
			.teaser-img {
				max-width: 100px;
			}
		}
	}


	.teaser-xlarge {
		.header {
			font-size: 3.125rem * .8;
			color: #fff;
		}	
	}

	.teaser-large {
		.header {
			font-size: 2.813rem * .7;
		}
	}

	.teaser-medium {
		.header {
			font-size: 1.875rem * .7;
		}
		&.teaser-img-left,
		&.teaser-img-right {
			.teaser-img {
				max-width: 20rem * .7;
			}
		}
	}

	.teaser-small {
		.header {
			font-size: 1.875rem * .85;
		}
	}
	

	.teaser-xxsmall {
		.header {
			font-size: 0.938rem;
		}
	}

	// RELATED 
	.related-large .related-header-content {
		font-size: 1.7rem * .8;
	}
	.related-small .related-header-content {
		font-size: 1.2rem * .9;
	}
}



@include media-breakpoint-up(md) {
	.related-large {
		.header-related [class*="teaser-label"] {
			display: none
		}
	}

	

	.teaser-footer .teaser-category {
		display: none;
	}
	.related-large .related-header-category {
		display: none;
	}
	.related-xsmall {
		.related-tools {
			display: inline;
		}
	}

}

@include media-breakpoint-down(lg) {
	[class*="item-teaser"] {
		padding-left: 0;
		padding-right: 0;
	}
}

@include media-breakpoint-only(md) {
	
	.list-buffet {
		li:nth-child(n+3) .teaser {
			border-top: $border-width solid $border-color;
			padding-top: .625rem;
		}
	}

	.teaser-xlarge {
		.header {
			font-size: 3.125rem * .7;
			color: #fff;
		}	
	}
	.teaser { 
		.teaser-summary-content {
			font-size: .9rem;
		} 
	}
	.teaser-img-left-md {
		.teaser-img {
			max-width: 4.5rem;
		}
	}
	.teaser-theme-xtragiant,
	.teaser-theme-giant {
		.teaser-pack {
			padding-left: 5rem;
			padding-right: 5rem;
		}
		.related-small {
			.related-header-content {
				font-size: 1.7rem;	
			}
		}
	}
	.teaser-theme-longread.teaser-xlarge {
		.teaser-content {
			padding: .625rem;
		}
		.header {
			font-size: 2rem;
		}
	}
	
}



@include media-breakpoint-down(sm) {
	.list-buffet {
		li:nth-child(n+2) .teaser {
			border-top: $border-width solid $border-color;
			padding-top: .625rem;
		}
		
	}


	[class*="teaser-rating"] {
		font-size: .8rem;
		margin-bottom: 0;
	}
	.teaser-theme-xtragiant {
		.teaser-body {
			text-align: center;
			margin-bottom: 1rem;
			& > [class*="teaser-label"] {
				display: inline-block;
				font-weight: 500;
				text-transform: uppercase;
				line-height: 1;
				display: block;
				font-size: 1rem;
				margin: 0 0 1rem;
				padding: .5rem 0 .4rem;
			}
		}
	}
	
	

	.teaser-consumersales {	
		.teaser-content {
			padding: .2rem .3125rem;
		}
		.fixed-header {
			font-size: 1.3rem;
		}
		.header {
			font-size: .8rem;
		}
		.teaser-price {
			font-size: .9rem;
			line-height: 1;
		}
	}
	
	.teaser-category + .teaser-trumpet {
		&:before {
			content: '\2013';
		}
	}

	.teaser-sponsor {
		font-size: .7rem;
	}

	.teaser-trumpet {
		display: inline-block;
	}

	.teaser-category {
		font-size: .7rem;
	}
	.teaser-trumpet {
		display: inline-block;
	}
	.related-tools {
		line-height: 1;
		display: inline-block;
		font-size: .7rem; 
		[class*="teaser-label"]{
			position: inherit;
		}
		
	}
	.related-header {
		.subscriber-notice {
			display: block;
		}
	}

	

	.subscriber-notice {
		font-size: .5rem;
	}
	.teaser-summary {
		display: none;
	}
	.related-header-trumpet,
	.teaser-trumpet {
		font-size: .7rem;
	}
	
	.teaser { 
		.teaser-summary-content {
			font-size: .9rem;
		} 
		.teaser-author {
			font-size: .7rem;
		}
		.teaser-img {
			margin-bottom: .3125rem;
		}
		.header {
			margin-bottom: 0;
		}

	}
	.related-summary-content {
		font-size: .9rem;
	}
	.teaser-img-left-md {
		.teaser-img {
			max-width: 4.5rem;
		}
	}
	.teaser-xxlarge {
		.header {
			font-size: 2.3rem;
		}
	}

	.teaser-xlarge {
		.header {
			font-size: 2rem;
		}
	}
	


	.teaser-large {
		.header {
			font-size: 1.5rem;
		}
	}

	.teaser-medium {
		.header {
			font-size: 1.875rem;
		}
		&.teaser-img-left,
		&.teaser-img-right {
			.teaser-img {
				max-width: 20rem;
			}
		}
	}

	
	.teaser-small {
		.header {
			font-size: 1rem;
		}
		.teaser-summary {
			display: none;
		}
		.teaser-img {
			[class*="teaser-label"] {
				font-size: .6rem;
				padding: .2rem .2rem .1rem .2rem;
			}
			max-width: 7rem;
		}
	}
	.teaser-xsmall {
		.header {
			font-size: 1rem;
		}
	}

	.teaser-xxsmall {
		.header {
			font-size: 0.938rem;
		}
	}

	.related-small,
	.related-large {
		.teaser-img {
			max-width: 6rem;
			margin-top: .3rem;
			float: left;
			margin-left: 0;
			margin-right: .625rem;
		}
	}
	.teaser-small.teaser-theme-feature .teaser-img {
		max-width: 7rem;
	}	
	

	    
	
	.teaser-theme-giant {
		.teaser-content {
			padding: .3125rem;
		}
		&.teaser-xlarge {
			.header {
				font-size: 1.2rem;
			}
		}
	}
	.teaser-theme-trade {
		.teaser {
			padding: .3125rem;
		}
	}	

	.related-summary {
		display: none;
	}

	.related-large {
		.related-header-content {
			font-size: .9rem;
		}
		
	}
	.related-small .related-header-content {
		font-size: .9rem;
	}
	.related-xsmall {	
		
		.header-related {
			font-size: .8rem;
		}
		.related-header-trumpet {
			font-size: .7rem;
		}
		.related-tools span {
			vertical-align: initial;
		}

	}
	
	.teaser-theme-longread.teaser-xlarge {
		.teaser-content {
			padding: .3125rem;
		}
		.header {
			font-size: 1.1rem;
		}
	}
}