.theme-container  {
	padding: $spacer;
	[class*="item--teaser"] {
		padding: 0 0 .425rem;
	}
	.col-primary {
		padding-right: 0;
	}
}
.theme-dark {

	.section-title {
		@extend .mb;
		&:before {
			background-color: rgba(255,255,255,.2);
		}
		@include media-breakpoint-down(lg) {
			padding-top: 0;
			&:before {
				display: none;
			}
		}
	}

	background: rgba(0,0,0,.8);
	
	.teaser--category {
		color: #e40421;
	}
	.section-title,
	.section-description {
		color: #fff;
	}
}

.theme-berlinale {

	background: #e40421;
	
	.teaser--category {
		color: #e40421;
	}
	.section-title,
	.section-description {
		color: #fff;
	}
}

// orange: #ed7303
// back: #262626
.theme-roskilde {
	
	background: #262626;
	
	.section-title,
	.teaser--trumpet,
	.teaser--category {
		color: #ed7303;
	}
	.section-title:before {
		background-color: #ed7303;
	}
	
	.section-description {
		color: #fff;
	}
	.header{
		color: #fff;
	}
	.teaser-summary {
		color: rgba(255,255,255,.7);
	}
}

.theme-cannes {

	background: #fff;
	
	.teaser--category {
		color: #d0b02e;
	}
	.section-title {
		color: #d0b02e;
	}
}

@include media-breakpoint-only (lg) {

}
@include media-breakpoint-down(lg) {
	.section-title {
		display: inline-block;
	}
	.theme-illu {
		max-width: 100px;
		float: right;
	}
}