.theme-container  {
	padding: $spacer;
	@extend .flex-row;
	.col-primary {
		padding-right: 0;
	}
	[class*="item-teaser"] {
		padding-left: 0;
		padding-right: 0;
	}
}
.theme-dark {

	.section-title {
		@extend .mb;
		&:before {
			background-color: rgba(255,255,255,.2);
		}
		@include media-breakpoint-down(lg) {
			padding-top: 0;
			&:before {
				display: none;
			}
		}
	}

	background: rgba(0,0,0,.8);
	
	.teaser-category {
		color: #e40421;
	}
	.section-title,
	.section-description {
		color: #fff;
	}
}

.theme-berlinale {

	background: #e40421;
	
	.teaser-category {
		color: #e40421;
	}
	.section-title,
	.section-description {
		color: #fff;
	}
	.grid-col-middle-wide {
		padding: .625rem;
		background-color: #fff;
	}
}

// orange: #ed7303
// back: #262626
.theme-roskilde {
	
	background: #262626;
	.teaser-author,
	.section-title,
	.teaser-trumpet,
	.teaser-category {
		color: #ed7303;
	}
	.section-title:before {
		background-color: #ed7303;
	}
	
	.section-description {
		color: #fff;
	}
	.header{
		color: #fff;
	}
	.teaser-summary-content {
		color: rgba(255,255,255,.7);
	}
}

.theme-cannes {

	background: #fff;
	
	.teaser-category {
		color: #d0b02e;
	}
	.section-title {
		color: #d0b02e;
	}
}

.theme-consumersales {
	background-color: $col-cappucino;
	.item-teaser {
		padding: 0;
	}
}

@include media-breakpoint-down(lg) {
	.deck-theme .section-title {
		display: inline-block;
	}
	.theme-illu {
		max-width: 100px;
		float: right;
	}
}