

.relative {
	position: relative;
}
.mb-0 {
	margin-bottom: 0;
}

.mb-05 {
	margin-bottom: $spacer / 2;
}


.mb {
	margin-bottom: $spacer;
}
.mb-1 {
	margin-bottom: $spacer * 2;	
}
.mb-2 {
	margin-bottom: $spacer * 4;	
}
.mt-half {
	margin-top: .625rem;
}
.mt {
	margin-top: $spacer;
}

.mt-2 {
	margin-top: $spacer * 2;
}
.mt-3 {
	margin-top: $spacer * 3;
}

.pt {
	padding-top: $spacer;
}
.bb:not(:last-of-type) {
	border-bottom: $border-width solid $border-color;
	padding-bottom: $spacer ;
	margin-bottom: $spacer;
}
.bb-all {
	border-bottom: $border-width solid $border-color;
	padding-bottom: $spacer ;
	margin-bottom: $spacer;
}
.hidden {
	display: none;
}
.pb {
	padding-bottom: .625rem;
}

.module {
	border-bottom: $border-width solid $border-color;
	margin-bottom: $spacer * 2;
	padding-bottom: $spacer;
}

.fs08 {
	.header {
		font-size: .8rem;
	}
}
.fs09 {
	.header {
		font-size: .9rem;
	}
}
.fs10 {
	.header {
		font-size: 1rem;
	}
}
.fs12 {
	.header {
		font-size: 1.2rem;
	}
}
.fs14 {
	.header {
		font-size: 1.4rem;
	}
}
.fs16 {
	.header {
		font-size: 1.6rem;
	}
}
.fs18 {
	.header {
		font-size: 1.8rem;
	}
}
.fs20 {
	.header {
		font-size: 2.0rem;
	}
}

.fs24 {
	.header {
		font-size: 2.4rem;
	}
}
.fs26 {
	.header {
		font-size: 2.6rem;
	}
}

.display-block {
	display: block;
}
.teaser-bw:not(:hover) {
	img {
		filter:grayscale(100%);
	}
}
.border-bottom {
	border-bottom: $border-width solid $border-color;
}
.border-top {
	border-top: $border-width solid $border-color;
}
.border-dotted {
	border-top: $border-width dotted $border-color;
}
.border-right-lg {
	position: relative;
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: auto;
		right: 0;
		width: $border-width;
		background-color: $border-color;
		content: '';
	}
}
.br-lg .flex-row:not(:last-child){
	.teaser {
		position: relative;
		// padding-bottom: .625rem;
		
		&:after {
			border-right: $border-width solid $border-color;
			content: '';
			position: absolute;
			right: -.625rem; 
			top: 0;
			bottom: 0;
			width: $border-width;
			background-color: $border-color;
		
		}
	}
}

.link-fff {
	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	&:hover {
		a {
			color: #fff;
		}
	}
}
.link-gray {
	color: rgba(0,0,0,.4);
	&:hover {
		color: darken(#666, 15%);
		text-decoration: none;
	}
}


.link-gray-dark {
	a {
		color: rgba(0,0,0,.5);
		&:hover {
			color: rgba(0,0,0,.7);
		}
	}	
}
.link-blue {
	color: $col-alt;
	&:hover {
		color: darken($col-alt, 10%);
	}
}
.col-blue {
	color: $col-blue-1;
}

.gray {
	color: rgba(0,0,0,.5);
}
.gray-darker {
	color: darken(#999, 25%);	
}
.white-padding {
	padding: .3rem;
	background-color: #fff;
}

.gray {
	font-color: #999; 
}
.small, 
.small p {

	font-size: .75rem;
}

.hide-section-title {
	.section-title {
		@extend .hidden;
	}
}

/*.border-top {
	padding-top: $spacer;
	border-top: $border-width solid $border-color;
	margin-top: $spacer;
}
*/

.border-bottom {
	padding-bottom: $spacer;
	border-bottom: $border-width solid $border-color;
	margin-bottom: $spacer;
}

.flex-row {
	display:flex;
	flex-wrap:wrap;
	list-style: none;
}

 .inline-block {
 	display: inline-block;
 }


@include media-breakpoint-down(md){
	 .fs08 {
	 	.header {
	 		font-size: .8rem;
	 	}
	 }
	 .fs09 {
	 	.header {
	 		font-size: .9rem;
	 	}
	 }
	 .fs10 {
	 	.header {
	 		font-size: 1rem;
	 	}
	 }
	 .fs12 {
	 	.header {
	 		font-size: 1rem;
	 	}
	 }
	 .fs14 {
	 	.header {
	 		font-size: 1.4rem;
	 	}
	 }
	 .fs16 {
	 	.header {
	 		font-size: 1.6rem;
	 	}
	 }
	 .fs18 {
	 	.header {
	 		font-size: 1.8rem;
	 	}
	 }
	 .fs20 {
	 	.header {
	 		font-size: 2.0rem;
	 	}
	 }

	 .fs24 {
	 	.header {
	 		font-size: 2.4rem;
	 	}
	 }
	 .fs26 {
	 	.header {
	 		font-size: 2.6rem;
	 	}
	 }
}

@include media-breakpoint-up(md) {
	.col-md-up {
		column-count: 2;
	}
}

@include media-breakpoint-down(md) {
	.row-narrow-md {
		margin-left: -.25rem;
		margin-right: -.25rem;
		&>[class*="col-sm"],
		&>[class*="col-xs"] {
			padding-left: .25rem;
			padding-right: .25rem;
		}
	}
}

@include media-breakpoint-down(sm) {
	.fs08 {
		.header {
			font-size: .8rem;
		}
	}
	.fs09 {
		.header {
			font-size: .9rem;
		}
	}
	.fs10 {
		.header {
			font-size: 1rem;
		}
	}
	.fs12 {
		.header {
			font-size: .9rem;
		}
	}
	.fs14 {
		.header {
			font-size: 1.4rem;
		}
	}
	.fs16 {
		.header {
			font-size: 1.6rem;
		}
	}
	.fs18 {
		.header {
			font-size: 1.8rem;
		}
	}
	.fs20 {
		.header {
			font-size: 2.0rem;
		}
	}

	.fs24 {
		.header {
			font-size: 2.4rem;
		}
	}
	.fs26 {
		.header {
			font-size: 2.6rem;
		}
	}
	.align-center-sm {
		text-align: center;
	}
	.fw-sm { 	
		margin-left: -.625rem;
		margin-right: -.625rem;
	}
	.mb-sm {
		margin-bottom: $spacer;
	}
	.mb-1-sm {
	 	margin-bottom: $spacer * 2;
	 }
	 .border-bottom-sm {
	 	border-bottom: $border-width solid $border-color;
	 	padding-bottom: $spacer;
	 	margin-bottom : $spacer; 
	 }
	
 }

 .iPad-banner {
 	margin-left: -3rem; 
 	margin-right: -3rem;
 }