.module,
.mb {
	margin-bottom: $spacer;
}
.mb-2 {
	margin-bottom: $spacer * 4;	
}

.bb {
	border-bottom: $border-width solid $border-color;
	padding-bottom: $spacer ;
	margin-bottom: $spacer;
}

.pb {
	padding-bottom: $spacer / 2;
}

.fs08 {
	.header {
		font-size: .8rem;
	}
}

.fs10 {
	.header {
		font-size: 1rem;
	}
}
.fs12 {
	.header {
		font-size: 1.2rem;
	}
}
.fs14 {
	.header {
		font-size: 1.4rem;
	}
}
.fs16 {
	.header {
		font-size: 1.6rem;
	}
}
.fs18 {
	.header {
		font-size: 1.8rem;
	}
}
.fs20 {
	.header {
		font-size: 2.0rem;
	}
}
.border-bottom {
	border-bottom: $border-width solid $border-color;
}
.border-right-lg {
	&:after {
		@extend .absolute;
		bottom: 0;
		left: auto;
		right: 0;
		width: $border-width;
		background-color: $border-color;
		content: '';
	}
}
.link-fff {
	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	&:hover {
		a {
			color: #fff;
		}
	}
}
.link-gray {
	color: #999;
	&:hover {
		color: darken(#999, 15%);
		text-decoration: none;
	}
}

.link-gray-dark {
	a {
		color: #666;
		&:hover {
			color: darken(#666, 15%);
		}
	}	
}
.link-blue {
	color: $col-alt;
	&:hover {
		color: darken($col-alt, 10%);
	}
}
.gray {
	color: #666;
}
.white-padding {
	padding: .3rem;
	background-color: #fff;
}

.header,
.font-header {
	line-height: 1.2;
	font-family: $font-serif;
}

.font-sans {
	font-family: $font-sans;
	line-height: 1.2;
}
.font-sans-alt {
	font-family: $font-sans-alt;
	line-height: 1.2;
}