
.bicon-angle-left:before { content: '\e800'; } /* '' */
.bicon-angle-right:before { content: '\e801'; } /* '' */
.bicon-angle-up:before { content: '\e802'; } /* '' */
.bicon-angle-down:before { content: '\e803'; } /* '' */
.bicon-right-1:before { content: '\e804'; } /* '' */
.bicon-menu:before { content: '\e805'; } /* '' */
.bicon-chart-line:before { content: '\e806'; } /* '' */
.bicon-twitter:before { content: '\e807'; } /* '' */
.bicon-facebook:before { content: '\e808'; } /* '' */
.bicon-user:before { content: '\e809'; } /* '' */
.bicon-down:before { content: '\e80a'; } /* '' */
.bicon-left:before { content: '\e80b'; } /* '' */
.bicon-right:before { content: '\e80c'; } /* '' */
.bicon-up:before { content: '\e80d'; } /* '' */
.bicon-search:before { content: '\e80e'; } /* '' */
.bicon-key:before { content: '\e80f'; } /* '' */
.bicon-cancel:before { content: '\e810'; } /* '' */
.bicon-home:before { content: '\e811'; } /* '' */
.bicon-clock-alt:before { content: '\e812'; } /* '' */
.bicon-asterisk:before { content: '\e813'; } /* '' */
.bicon-link:before { content: '\e814'; } /* '' */
.bicon-quote:before { content: '\e815'; } /* '' */
.bicon-down-open-big:before { content: '\e816'; } /* '' */
.bicon-up-open-big:before { content: '\e817'; } /* '' */
.bicon-print:before { content: '\e818'; } /* '' */
.bicon-mail:before { content: '\e819'; } /* '' */
.bicon-ok-circled:before { content: '\e81a'; } /* '' */
.bicon-camera:before { content: '\e81b'; } /* '' */
.bicon-star:before { content: '\e81c'; } /* '' */
.bicon-comment-inv-alt2:before { content: '\e81d'; } /* '' */
.bicon-linkedin:before { content: '\e81e'; } /* '' */
.bicon-check:before { content: '\e81f'; } /* '' */
.bicon-instagram:before { content: '\e820'; } /* '' */